<section class="hero hero-page gray-bg padding-small">
    <div class="container">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
        <div class="row d-flex">
            <div class="col-lg-9 order-2 order-lg-1">
                <h3 *ngIf="lang != 'ar'">{{catItems[0]?.category?.nameEN}}</h3>
                <h3 *ngIf="lang == 'ar'">{{catItems[0]?.category?.nameAR}}</h3>
                <!-- <h3 *ngIf="lang != 'ar' &&  catNameEN ">{{catNameEN}}</h3>
                <h3 *ngIf="lang == 'ar' &&  catNameAR ">{{catNameAR}}</h3> -->
            </div>
            <div class="col-lg-3 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end">
                    <li class="breadcrumb-item">
                        <a routerLink="home">{{'home' | translate}}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="categories">{{'categories' | translate}}</a>
                    </li>
                    <li class="breadcrumb-item active" *ngIf="lang != 'ar' ">{{catItems[0]?.category?.nameEN}}</li>
                    <li class="breadcrumb-item active" *ngIf="lang == 'ar' ">{{catItems[0]?.category?.nameAR}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<main>
    <div class="container">
        <div class="row">
            <!-- Sidebar-->
            <div class="sidebar col-xl-3 col-lg-4 sidebar">
                <div class="block">
                    <h6 class="text-uppercase">{{'productCat' | translate}}</h6>
                    <ul class="list-unstyled">
                        <li *ngFor="let item of categories" [routerLinkActive]="['active']" [ngClass]="{'active': selectedItem == item}" (click)="changeCat(item.id,item.nameEN,item.nameAR,item.config)">
                            <a class="d-flex justify-content-between align-items-center">
                                <span *ngIf="lang != 'ar' ">{{item.nameEN}}</span>
                                <span *ngIf="lang == 'ar' ">{{item.nameAR}}</span>
                                <small>{{item.count}}</small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Sidebar end-->
            <!-- Grid -->
            <div class="products-grid col-xl-9 col-lg-8 sidebar-left">
                <header class="d-flex justify-content-between align-items-start">
                    <span class="visible-items col-md-4" *ngIf="optionsResult != []">
                        <mat-radio-group class="example-radio-group" [(ngModel)]="optionId">
                            <mat-radio-button class="example-radio-button col-md-6" *ngFor="let option of optionsResult" [value]="option.id" (click)="changeOption(option.id)">
                                <span *ngIf="lang != 'ar' ">{{option.nameEN}}</span>
                                <span *ngIf="lang == 'ar' ">{{option.nameAR}}</span>
                            </mat-radio-button>
                        </mat-radio-group>
                    </span>
                    <select id="sorting" class="bs-select form-control col-md-3">
                        <option value="lowest-price">{{'lowPric'|translate}}</option>
                        <option value="heigh-price">{{'hiPric'|translate}}</option>
                    </select>
                </header>
                <div class="row">
                    <!-- item-->
                    <div class="item col-xl-4 col-md-6" *ngFor="let item of catItems">
                        <div class="product is-gray">
                            <div class="image d-flex align-items-center justify-content-center">
                                <div class="ribbon ribbon-primary text-uppercase">{{'sal'|translate}}</div>
                                <img *ngIf="item.pictureURL == null" src="assets/img/products/p1.png" alt="product" class="img-fluid">
                                <img *ngIf="item.pictureURL" [src]="item.pictureURL" alt="product" class="img-fluid">
                                <div class="hover-overlay d-flex align-items-center justify-content-center">
                                    <div class="CTA d-flex align-items-center justify-content-center">
                                        <a class="add-to-cart">
                                            <i class="fa fa-shopping-cart"></i>
                                        </a>
                                        <a (click)="addProduct(item)" class="visit-product active">
                                            <i class="fa fa-search"></i>{{'view'|translate}}</a>
                                        <a class="quick-view">
                                            <i class="fa fa-arrows-alt"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="title">
                                <small class="text-muted" *ngIf="lang != 'ar' ">{{item.nameEN}}</small>
                                <small class="text-muted" *ngIf="lang == 'ar' ">{{item.nameAR}}</small>
                                <a routerLinh="/categories/detaill">
                                    <h3 class="h6 text-uppercase no-margin-bottom" *ngIf="lang != 'ar' ">{{item.descriptionEN}}</h3>
                                    <h3 class="h6 text-uppercase no-margin-bottom" *ngIf="lang == 'ar' ">{{item.descriptionAR}}</h3>
                                </a>
                                <span class="price text-muted" *ngIf="lang != 'ar' ">{{item.finalPrice}} {{item?.carrency?.nameEN}}</span>
                                <span class="price text-muted" *ngIf="lang == 'ar' ">{{item.finalPrice}} {{item?.carrency?.nameAR}}</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <!-- <span class="visible-items col-md-4">Showing
                        <strong>{{currentPage}}-{{pageSize}} </strong>of
                        <strong>{{totalItems}}</strong> results</span>
                    <nav aria-label="page navigation example" class="d-flex col-md-8">
                        <ul class="pagination pagination-custom">
                            <li class="page-item">
                                <a href="#" aria-label="Previous" class="page-link">
                                    <span aria-hidden="true">Prev</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link active">1 </a>
                            </li>
                            <li class="page-item">
                                <a href="#" aria-label="Next" class="page-link">
                                    <span aria-hidden="true">Next</span>
                                    <span class="sr-only">Next </span>
                                </a>
                            </li>
                        </ul>
                    </nav> -->
                    <!-- <ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="5" [rotate]="true"></ngb-pagination> -->
                </div>
            </div>
            <!-- / Grid End-->
        </div>
    </div>
</main>

