<div class="itemDialog modal-body" dir="{{ 'dir' | translate }}" [class.rtl]="('dir' | translate) === 'rtl'">
    <!-- Overview Popup    -->
    <button type="button" (click)="dialogRef.close()" data-dismiss="modal" aria-label="Close" class="close dialogClose">
        <span aria-hidden="true">
            <i class="fa fa-times"></i>
        </span>
    </button>

    <h6>Location: Lat {{latitude}}, Long {{longitude}}</h6>
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
    </agm-map>
    <div class="row">
        <div class="form-group col-12 mt-3">
            <button type="submit" class="btn btn-template wide" (click)="addAddress()">
                <i class="fa fa-save"></i>Save changes</button>
        </div>
    </div>
</div>