<!-- Hero Section-->
<section class="hero hero-page gray-bg padding-small">
  <div class="container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="row d-flex">
      <div class="col-lg-9 order-2 order-lg-1">
        <h3>{{'custActiv'| translate}}</h3>
      </div>
      <div class="col-lg-3 text-right order-1 order-lg-2">
        <ul class="breadcrumb justify-content-lg-end">
          <li class="breadcrumb-item">
            <a routerLink="home">{{'home'|translate}}</a>
          </li>
          <li class="breadcrumb-item active">{{'custActiv'| translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="padding-small">
  <div class="container">
    <div class="row">
      <!-- Customer Sidebar-->
      <div class="col-lg-8 col-xl-9 pl-lg-3">
        <div class="block-header mb-5">
          <h5>{{'custActiv'| translate}} </h5>
        </div>
        <form class="content-block">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="form-label">{{'token'| translate}}</label>
                <input type="text" class="form-control" name="token" [(ngModel)]="activObj.code">
              </div>
            </div>
            <div class="text-center" style="padding-top: 4%;">
              <button type="submit" class="btn btn-primary" (click)="activeCustomer()" [disabled]="!activObj.code">
                <i class="fa fa-save"></i>{{'submt'|translate}}</button>
            </div>
          </div>
        </form>
        <form>
          <div class="form-group d-flex">
            <p style="margin-top:4px;">{{'resentTitl'|translate}}</p>
            <button type="submit" class="btn btn-template-outlined resend-btn" (click)="generateactiveCode()">
                <i class="fa fa-repeat"></i>{{'resnd'|translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>