<!-- Hero Section-->
<section class="hero hero-page gray-bg padding-small">
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-9 order-2 order-lg-1">
        <h3>{{'yourAddresses'|translate}}</h3>
      </div>
      <div class="col-lg-3 text-right order-1 order-lg-2">
        <ul class="breadcrumb justify-content-lg-end">
          <li class="breadcrumb-item">
            <a routerLink="profile">{{'home'|translate}}</a>
          </li>
          <li class="breadcrumb-item active">{{'yourAddresses'|translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="padding-small">
  <div class="container">
    <div class="row">
      <!-- Customer Sidebar-->
      <div class="customer-sidebar col-xl-3 col-lg-4 mb-md-5">
        <div class="customer-profile">
          <a class="d-inline-block">
            <img *ngIf="currentUser?.pictureUrl == null" src="assets/img/avater.png" class="img-fluid rounded-circle customer-image">
            <img *ngIf="currentUser?.pictureUrl != null" [src]="currentUser?.pictureUrl" class="img-fluid rounded-circle customer-image">
          </a>
          <h6>{{currentUser?.firstName}} {{currentUser?.lastName}}</h6>
        </div>
        <nav class="list-group customer-nav">
          <a routerLink="/orders" class="list-group-item d-flex justify-content-between align-items-center">
            <span>
              <span class="fa fa-shopping-bag"></span>{{'orders'| translate}}</span>
            <small class="badge badge-pill badge-light">{{ordersCount}}</small>
          </a>
          <a href="#profileMenu" class="list-group-item d-flex justify-content-between align-items-center list-group-item" data-toggle="collapse"
            data-parent="#profileMenu">
            <span>
              <span class="fa fa-user-o"></span>{{'profile'| translate}}</span>
            <i class="fa fa-caret-down"></i>
          </a>
          <div class="collapse list-group-submenu list-group-submenu-1" id="profileMenu">
              <a routerLink="/profile" class="list-group-item d-flex justify-content-between align-items-center list-group-item" data-parent="#profileMenu">{{'view'| translate}}</a>
              <a routerLink="/changePassword" class="list-group-item d-flex justify-content-between align-items-center list-group-item"
                  data-parent="#profileMenu">{{'changePassword'| translate}}</a>
          </div>
          <a routerLink="/addresses" class="active list-group-item d-flex justify-content-between align-items-center">
            <span>
              <span class="fa fa-map-o"></span>{{'addresses'| translate}}</span>
          </a>
          <a routerLink="/complaint" class="list-group-item d-flex justify-content-between align-items-center">
            <span>
                <span class="fa fa-file-o"></span>{{'complints'| translate}}</span>
          </a>
          <a (click)="logOut()" class="list-group-item d-flex justify-content-between align-items-center">
            <span>
              <span class="fa fa-sign-out"></span>{{'logOut'| translate}}</span>
          </a>
        </nav>
      </div>
      <div class="col-lg-8 col-xl-9 pl-lg-3">
        <!-- Invoice Address-->
        <div class="block-header mb-5">
          <h5>{{'invoiceaddress'|translate}}</h5>
        </div>

         <!-- <div class="form-group col-12 mt-3 ml-3">
            <input id="another-address" type="checkbox" class="checkbox-template">
            <label (click)="addNewAddress()" for="another-address" aria-expanded="false" aria-controls="shippingAddress">Add New address</label>
          </div> -->
  
          <!-- <div class="form-group col-12 mt-3 ml-3" *ngIf="addresses.length > 0">
            <input id="another-address" type="checkbox" class="checkbox-template">
            <label for="another-address" data-toggle="collapse" data-target="#shippingAddress" aria-expanded="false" aria-controls="shippingAddress">Use different shipping address</label>
          </div> -->
  
          <div class="form-group col-12 mt-3 ml-3">
            <button class="btn btn-primary" (click)="addNewAddress()" style="padding:10px 30px;">{{'addNewAddres'|translate}}</button>
          </div>

        <!-- Addresses-->
        <div class="basket" *ngIf="addresses.length > 0" style="margin-bottom:5%;">
          <div class="basket-holder">
            <div class="basket-header">
              <div class="row">
                <div class="col-1">{{'name'|translate}}</div>
                <div class="col-2">{{'number'|translate}}</div>
                <div class="col-2">{{'gov'|translate}}</div>
                <div class="col-2">{{'area'|translate}}</div>
                <div class="col-2">{{'block'|translate}}</div>
                <div class="col-2">{{'street'|translate}}</div>
                <div class="col-1 text-center">{{'edit'|translate}}</div>
              </div>
            </div>
            <div class="basket-body">
              <div class="item" *ngFor="let item of addresses">
                <div class="row d-flex align-items-center">
                  <div class="col-1">
                    <p>{{item.name}}</p>
                  </div>
                  <div class="col-2">
                    <p>{{item.number}}</p>
                  </div>
                  <div class="col-2">
                    <p>{{item.governorateName}}</p>
                  </div>
                  <div class="col-2">
                    <p>{{item.areaName}}</p>
                  </div>
                  <div class="col-2">
                    <p>{{item.blockName}}</p>
                  </div>
                  <div class="col-2">
                    <p>{{item.streetName}}</p>
                  </div>
                  <div class="col-1 text-center">
                    <a class="btn btn-link" (click)="editAddress(item.id)">
                      <i class="fa fa-edit"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Addresses -->

        <!-- /Invoice Address-->
        <p *ngIf="!country">please select country first</p>

        <div id="shippingAddress" aria-expanded="false" class="collapse">
          <div class="block-header mb-5 mt-3">
            <h6>Shipping address</h6>
          </div>
          <div class="row" *ngIf="country == 2">
            <div class="form-group col-md-6">
              <label class="form-label">Location mkani UAE Number</label>
              <input type="text" name="locationNum" placeholder="Enter you location makani uae number" class="form-control" (change)="getLocationByMakaniNumber(locationMkaniNum)"
                [(ngModel)]="locationMkaniNum" autocomplete="off">
            </div>
            <div class="form-group col-md-12">
              <label for="lastname" class="form-label">Name <span style="color:red">*</span></label>
              <input type="text" name="name" placeholder="lacatiion name" class="form-control" [(ngModel)]="addressName" required>
            </div>

            <div class="form-group col-md-6">
              <label class="form-label">Governorate</label>
              <input type="text" name="gov" placeholder="Governorate" class="form-control" [(ngModel)]="locationMkaniResult.governorate.name"
                disabled>
            </div>
            <div class="form-group col-md-6">
              <label class="form-label">Area</label>
              <input type="text" name="area" placeholder="Area" class="form-control" [(ngModel)]="locationMkaniResult.area.name" disabled>
            </div>
            <div class="form-group col-md-4">
              <label for="city" class="form-label">Block</label>
              <input type="text" name="block" placeholder="Block" class="form-control" [(ngModel)]="locationMkaniResult.block.name" disabled>
            </div>
            <div class="form-group col-md-8" *ngIf="locationMkaniResult.street">
              <label for="zip" class="form-label">Street</label>
              <input type="text" name="street" placeholder="Street" class="form-control" [(ngModel)]="locationMkaniResult.street.name"
                disabled>
            </div>

            <div class="form-group col-12 mt-3 ml-3">
                <span> Detect on Google Map</span>
                <span class="fa fa-map"></span>
              </div>
              <div class="col-12">
                <h6>Location: Lat {{latitude}}, Long {{longitude}}</h6>
                <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                  <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
                </agm-map>
              </div>
          </div>

          <div class="row" *ngIf="country == 1">
            <div class="form-group col-md-6">
              <label class="form-label">Location Paci KW Number</label>
              <input type="text" name="locationNum" placeholder="Enter you location paci kw number" class="form-control" (change)="getLocationByPaciNUm(locationPaciNum)"
                [(ngModel)]="locationPaciNum">
            </div>
            <div class="form-group col-md-12">
              <label for="lastname" class="form-label">Name <span style="color:red">*</span></label>
              <input type="text" name="name" placeholder="lacatiion name" class="form-control" [(ngModel)]="addressName" required>
            </div>
            <div class="form-group col-md-6">
              <label class="form-label">Governorate</label>
              <select id="sorting" class="form-control" name="governorate" [(ngModel)]="governorateId" (change)="getAllAreas(governorateId)">
                <option *ngFor="let gov of governorates" [value]="gov.id">
                  {{gov.name}}
                </option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label class="form-label">Area</label>
              <select id="sorting" class="form-control" name="area" [(ngModel)]="areaId" (change)="getAllBlocks(areaId)">
                <option *ngFor="let area of areas" [value]="area.id">
                  {{area.name}}
                </option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="city" class="form-label">Block</label>
              <select id="sorting" class="form-control" name="block" [(ngModel)]="blockName" (change)="getAllStreets(governorateId,areaId,blockName)">
                <option *ngFor="let block of blocks" [value]="block.name">
                  {{block.name}}
                </option>
              </select>
            </div>
            <div class="form-group col-md-8">
              <label for="zip" class="form-label">Street</label>
              <select id="sorting" class="form-control" name="street" [(ngModel)]="streetId">
                <option *ngFor="let street of streets" [value]="street.id">
                  {{street.name}}
                </option>
              </select>
            </div>
            <div class="form-group col-12 mt-3 ml-3">
              <span> Detect on Google Map</span>
              <span class="fa fa-map"></span>
            </div>
            <div class="col-12">
              <h6>Location: Lat {{latitude}}, Long {{longitude}}</h6>
              <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
              </agm-map>
            </div>
          </div>
         
          <div class="row">
            <div class="form-group col-12 mt-3">
              <button type="submit" class="btn btn-template wide" (click)="addAddress()" [disabled]="!addressName">
                <i class="fa fa-save"></i>Save changes</button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>