<section class="hero hero-page gray-bg padding-small">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-9 order-2 order-lg-1">
                <h3>{{'hrTitler'|translate}}</h3>
            </div>
            <div class="col-lg-3 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end">
                    <li class="breadcrumb-item">
                        <a routerLink="home">{{'home'|translate}}</a>
                    </li>
                    <li class="breadcrumb-item active">{{'hrIt'|translate}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="padding-small">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10">
                <h4>{{'overviw'|translate}}</h4>
                <div class="text-content">
                    <p>
                        {{'hrDetails'|translate}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>