<h3 class="title">
    Terms and Conditions
</h3>
<div [innerHtml]="htmlToAdd | safe">
        <!-- <iframe width="100%" height="400" [src]="myTemplate"></iframe> -->
</div>
<footer>
    <div class="text-center termsDiv">
        <a (click)="dialogRef.close()" class="btn btn-template-outlined wide" style="margin-right: 2%;">{{'iDisAgree'|translate}}</a>
        <a (click)="postOrder()" class="btn btn-template btn-lg wide">{{'iAgree'|translate}}
            <i class="fa fa-long-arrow-right"></i>
        </a>
    </div>
</footer>
