<!-- Hero Section-->
<section class="hero hero-page gray-bg padding-small">
  <div class="container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

    <div class="row d-flex">
      <div class="col-lg-9 order-2 order-lg-1">
        <h3>{{'shoppingCart' | translate}}</h3>
        <p class="lead text-muted">{{'uCurntHv'|translate}} {{tempList.length}} {{'itmincart'|translate}}</p>
      </div>
      <div class="col-lg-3 text-right order-1 order-lg-2">
        <ul class="breadcrumb justify-content-lg-end">
          <li class="breadcrumb-item">
            <a routerLink="home">{{'home' | translate}}</a>
          </li>
          <li class="breadcrumb-item active">{{'shoppingCart' | translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Shopping Cart Section-->
<section class="shopping-cart">
  <div class="container">
    <div class="basket">
      <div class="basket-holder">
        <div class="basket-header">
          <div class="row">
            <div class="col-3">{{'prdct'|translate}}</div>
            <div class="col-2">{{'pric'|translate}}</div>
            <div class="col-2">{{'cuts'|translate}}</div>
            <div class="col-2">{{'qunt'|translate}}</div>
            <div class="col-2">{{'totl'|translate}}</div>
            <div class="col-1 text-center">{{'rmov'|translate}}</div>
          </div>
        </div>
        <div class="basket-body">
          <!-- Product-->
          <div class="item" *ngFor="let item of tempList">
            <div class="row d-flex align-items-center">
              <div class="col-3">
                <div class="d-flex align-items-center">
                  <img *ngIf="item.item.pictureURL == null" src="assets/img/products/p1.png" alt="product" class="img-fluid">
                  <img *ngIf="item.item.pictureURL" [src]="item.item.pictureURL" alt="product" class="img-fluid">
                  <div class="title">
                    <a routerLink="categories/detail">
                      <h5 *ngIf="lang != 'ar' ">{{item?.item?.nameEN}}</h5>
                      <h5 *ngIf="lang == 'ar' ">{{item?.item?.nameAR}}</h5>
                      <span class="text-muted">{{'wit'|translate}}: {{item.item.weight}}</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <span *ngIf="lang != 'ar' ">{{item?.item?.price}}  {{item?.item?.currency?.nameEN}}</span>
                <span *ngIf="lang == 'ar' ">{{item?.item?.price}}  {{item?.item?.currency?.nameAR}}</span>
              </div>
              <div class="col-2">
                <div class="d-flex align-items-center">
                  <div class="quantity d-flex align-items-center">
                      <span *ngIf="lang != 'ar' ">{{item?.cutting?.nameEN}}</span>
                      <span *ngIf="lang == 'ar' ">{{item?.cutting?.nameAR}}</span>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="d-flex align-items-center">
                  <div class="quantity d-flex align-items-center">
                      <span *ngIf="lang != 'ar' ">{{item?.quantity?.nameEN}}</span>
                      <span *ngIf="lang == 'ar' ">{{item?.quantity?.nameAR}}</span>
                    <!-- <select id="product-size" class="form-control" name="quantityNum" [(ngModel)]="item.quantity.id">
                      <option *ngFor="let quant of productDetailes.quantities" [ngValue]="quant.quantity.id">
                        {{quant.quantity.nameEN}}
                      </option>
                    </select> -->
                  </div>
                </div>
              </div>
              <div class="col-2">
                <span *ngIf="lang != 'ar' ">{{totalFinalPrice}}   {{item?.item?.currency?.nameEN}}</span>
                <span *ngIf="lang == 'ar' ">{{totalFinalPrice}}   {{item?.item?.currency?.nameAR}}</span>
              </div>
              <div class="col-1 text-center">
                <a class="btn btn-link" (click)="removeItem(item)">
                  <i class="delete fa fa-trash"></i>
                </a>

              </div>
            </div>
          </div>
          <!-- Product-->
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="CTAs d-flex align-items-center justify-content-center justify-content-md-end flex-column flex-md-row">
      <a routerLink="/categories" class="btn btn-template-outlined wide">{{'conineShop'|translate}}</a>
      <a (click)="submitCart()" class="btn btn-template btn-lg wide">{{'procdChekOt'|translate}}
        <i *ngIf="lang != 'ar' " class="fa fa-long-arrow-right"></i>
        <i *ngIf="lang == 'ar' " class="fa fa-long-arrow-left"></i>
      </a>
    </div>
  </div>
</section>
<!-- Order Details Section -->
