<!-- Hero Section-->
<section class="hero hero-page gray-bg padding-small">
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-9 order-2 order-lg-1">
        <h2>{{'ordConfrm'|translate}}</h2>
      </div>
      <div class="col-lg-3 text-right order-1 order-lg-2">
        <ul class="breadcrumb justify-content-lg-end">
          <li class="breadcrumb-item">
            <a routerLink="home">{{'home'|translate}}</a>
          </li>
          <li class="breadcrumb-item active">{{'ordConfrm'|translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Checout Forms-->
<section class="checkout">
  <div class="container" *ngIf="isSuccess == 'true'">
    <div class="confirmation-icon">
      <i class="fa fa-check"></i>
    </div>
    <h2>{{'tnkYorOrdr'|translate}} <span style="color: brown">{{orderNum}}</span> {{'isConfrm'|translate}}</h2>
    <p class="mb-5">{{'ordConfrmDiscrip'|translate}}</p>
    <p style="margin-top:3%">
      <a routerLink="/orders" class="btn btn-template wide">{{'viwMnagOrdr'|translate}}</a>
    </p>
    <br>
    <br>
    <div class="row container">
      <h4 class="title">{{'plseRate'|translate}}</h4>
      <div class="col-md-12">
        <div class="col-md-6 rateDiv">
          <mat-radio-group class="example-radio-group" [(ngModel)]="rateOption">
            <mat-radio-button class="example-radio-button col-md-4" *ngFor="let rate of rateOptions" [value]="rate.id">
              <img src="assets/img/rate/happy-1@3x.png" width="50" *ngIf="rate.id == 1 ">
              <img src="assets/img/rate/suspect@3x.png" width="50" *ngIf="rate.id == 2 ">
              <img src="assets/img/rate/sad-1@3x.png" width="50" *ngIf="rate.id == 3 ">
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-md-2" style="margin-top:2%;">
          <button (click)="submitRateReview()" class="btn btn-template wide" [disabled]="!rateOption">{{'submt'|translate}}</button>
        </div>
      </div>
    </div>

  </div>
  <div class="container" *ngIf="isSuccess == 'false'">
    <div class="confirmation-icon">
      <i class="fa fa-close"></i>
    </div>
    <h2>{{'chekBnkAcunt'|translate}}</h2>
    <p class="mb-5">{{'ordConfrmDiscrip'|translate}}</p>
    <p>
      <button routerLink="/orders" class="btn btn-template wide">{{'viwMnagOrdr'|translate}}</button>
    </p>
  </div>
</section>
