<!-- Categories Section-->
<section class="categories">
	<div class="container">
			<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
		<header class="text-center">
			<h2 class="text-uppercase">
				<small>{{'topOfMonth' | translate}}</small>{{'OurFeaturedPicks' | translate}}</h2>
		</header>
		<div class="row text-left">
			<div class="col-lg-4 category-block" *ngFor="let item of categories">
				<a (click)="viewCategory(item)" class="viewCat">
					<!-- <button [disabled]="disabledCategoty">cheeck</button> -->
					<div *ngIf="item.pictureURL != null" [ngStyle]="{ 'background-image': 'url(' + item.pictureURL + ')'}" class="item d-flex align-items-end">
						<div class="content-cat">
							<h3 class="h6" *ngIf="lang == 'en' ">{{item.nameEN}}</h3>
							<h3 class="h6" *ngIf="lang != 'en' ">{{item.nameAR}}</h3>
							<span>{{'pickProducts' | translate}}</span>
						</div>
					</div>
					<div *ngIf="item.pictureURL == null" style="background-image: url(assets/img/boxes.jpg)" class="item d-flex align-items-end">
						<div class="content-cat">
							<h3 class="h6" *ngIf="lang == 'en' ">{{item.nameEN}}</h3>
							<h3 class="h6" *ngIf="lang != 'en' ">{{item.nameAR}}</h3>
							<span>{{'pickProducts' | translate}}</span>
						</div>
					</div>
				</a>
			</div>
			<!-- <div class="col-lg-4 category-block">
				<a href="">
					<div style="background-image: url(assets/img/category/cat2.png)" class="item d-flex align-items-end">
						<div class="content-cat">
							<h3 class="h6">{{'FreashFromTheButchery' | translate}}</h3>
							<span>{{'pickCuts' | translate}}</span>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 category-block">
				<a href="">
					<div style="background-image: url(assets/img/category/cat3.png)" class="item d-flex align-items-end">
						<div class="content-cat">
							<h3 class="h6">{{'foodFromFarm' | translate}}</h3>
							<span>{{'pickCuts' | translate}}</span>
						</div>
					</div>
				</a>
			</div> -->
		</div>
		<!-- <div class="row text-left">
			<div class="col-lg-4 category-block">
				<a href="">
					<div style="background-image: url(assets/img/category/cat9.png)" class="item d-flex align-items-end">
						<div class="content-cat">
							<h3 class="h6">{{'importantProducts' | translate }}</h3>
							<span>{{'pickProducts' | translate}}</span>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 category-block">
				<a href="#">
					<div style="background-image: url(assets/img/category/cat5.png)" class="item d-flex align-items-end">
						<div class="content-cat">
							<h3 class="h6">{{'proscedProducts' | translate }}</h3>
							<span>{{'pickProducts' | translate}}</span>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 category-block">
				<a href="#">
					<div style="background-image: url(assets/img/category/cat6.png)" class="item d-flex align-items-end">
						<div class="content-cat">
							<h3 class="h6">{{'charity' | translate }}</h3>
							<span>{{'pickProducts' | translate}}</span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="row text-left">
			<div class="col-lg-4 category-block cat7">
				<a href="">
					<div style="background-image: url(assets/img/category/cat7.png);" class="item d-flex align-items-end">
						<div class="content-cat">
							<h3 class="h6">{{'adahi' | translate }}</h3>
							<span>{{'pickProducts' | translate}}</span>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 category-block">
				<a href="">
					<div style="background-image: url(assets/img/category/cat8.png)" class="item d-flex align-items-end">
						<div class="content-cat">
							<h3 class="h6">{{'bestSeller' | translate }}</h3>
							<span>{{'pickProducts' | translate}}</span>
						</div>
					</div>
				</a>
			</div>
			
		</div> -->
	</div>
</section>