/* your styles go here */
/*--banner bottom--*/
.banner-bootom-w3-agileits,.top-products,.fandt,.top-brands,.newsletter,.footer,.content,.contact,.about,.team,.main-grid-border,.faq,.products,.collpse.tabs,.login,.check-out,.payment{
	padding:25px 0;
}
.top-products h3,.features h3,.top-brands h3,.contact h3,.about h3,.team h3,h3.agileits-icons-title,.faq h3,.products h3,.login h3,.check-out h3,.payment h3{
	font-size:40px;
	color:#000;
	margin-bottom:40px;
}

.payment{
  padding:15px 0 !important;
}
.nav-down {
  transition: top 0.5s ease-in-out;
}
.nav-up {
  top: -120px;
}
.bb-grids img{
	width:100%;
}
.category-block{
	background-size:cover;
	min-height:250px;
	-moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
  width:100%;  
}

.category-block:hover {
    -moz-transform: scale3d(1.1, 1.1, 1);
    -o-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

a{
  cursor: pointer;
}

/*************************** Loading Spinner **************************/
.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 20% auto;
    /*
     * Spinner positions
     * 1 2 3
     * 4 5 6
     * 7 8 9
     */ }
    .sk-cube-grid .sk-cube {
      width: 33.33%;
      height: 33.33%;
      background-color: #ae2322;
      float: left;
      -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
              animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }
    .sk-cube-grid .sk-cube1 {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    .sk-cube-grid .sk-cube2 {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }
    .sk-cube-grid .sk-cube3 {
      -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s; }
    .sk-cube-grid .sk-cube4 {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s; }
    .sk-cube-grid .sk-cube5 {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    .sk-cube-grid .sk-cube6 {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }
    .sk-cube-grid .sk-cube7 {
      -webkit-animation-delay: 0.0s;
              animation-delay: 0.0s; }
    .sk-cube-grid .sk-cube8 {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s; }
    .sk-cube-grid .sk-cube9 {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1); }
    35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); } }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1); }
    35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); } }

/********************* icons******************************/
.payment-icons{
    color: #fff;
    margin-top: 5px;
    font-size: 1.6em;
  }
.header-icons{
    color: #6d6d6d;
    font-size: 1.3em;
}

/********************* Map******************************/
agm-map {
  height: 400px;
  margin-top: -3%;
  background-color: rgb(229, 227, 223);
}
  
/************************** language option ***********************/
.languageDiv li{
  float: left;
  list-style: none;
  margin-left: 20px;
}
.languageDiv li a{
  cursor: pointer;
}

/************************** office ***********************/
.offices{
  background:#f7f8fa!important;
  padding: 2% 2% 4% 2%;
  margin: 2% 0 -2% 0;
}
.bg-color-white {
  background: #fff!important;
  padding: 8%
}

/***************** address*********/

.item-address{
  padding: 10px 0 !important;
}

.backdrop[_ngcontent-c1]{
  position: fixed !important;
}

/********* Account ************/
.clearPic {position: relative;
    top: -40px;
    right: 5px;
}

/******** radio button *********/
.mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color: #ae2322;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:  #ae2322;
}

.countryRadio{
  padding-right: 20px !important;
}
.addressCheckout{
  margin-bottom:  0 !important;
}
/********* deliver note *********/
.deliveryNoteDiv{
  margin-top: 5%;
}
.deliveryNote{
  margin-top: -5%;
}
.addressesDiv{
  margin-top: -4%;
}
.payDeliveryCard{
  margin-bottom: -4% !important
}


/************** dialog *************/
.dialogClose{
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #ae2322 !important;
  color: #fff !important;
  position: absolute;
  top: -24px !important;
  right: -24px  !important;
  opacity: 1;
  font-size: 0.8em;
  z-index: 999;
  cursor: pointer;
  outline: none;
}
.itemDialog{
  padding-top: 6%;
}
.cdk-overlay-container {
  position: fixed;
  z-index: 1100 !important;
}


/********** select **********/
 .mat-select-value {
  color: #fff;
}

section.categories .item::after{
  content: "";
  position: absolute;
  top: 0;
  left: 4%;
  opacity: .7;
  z-index: 10;
  width: 92%;
  height: 200px;
  background: #000;
  z-index: 1;
}
.content-cat{
  z-index: 2;
}
section.categories .item h3{
  /* color: #da5252; */
  color: #fd312f;
}
.team-member .image{
  margin-bottom: 3%;
}
.governance{
  height: 292px;
  padding: 10%;
}
.profilePic{
  position: relative;
  top: -38px;
  left: 85%;
}
.termsDiv{
  margin-top: 8%;
}
.rateDiv{
  padding: 2%;
}
.rateDiv li{
  list-style: none;
  margin-left: 2%;
}
.sector-item.active, .sector-item:active{
  background-color: #ae2322 !important;
}
.form-control:disabled, .form-control[readonly] {
  background-color: transparent !important;
  opacity: 1;
}
.basket .title{
    margin-right: 8px;
}
section.checkout .CTAs .next i {
  margin-right: 7px;
  margin-left: 0px;
}
section.checkout .CTAs .prev i {
  margin-left: 7px;
  margin-right: 0px;
}
section.checkout .tab-block .title {
  margin-right: 12px;
}
.resend-btn{
  margin-left:4%;
}


.count-title { font-size: 30px; font-weight: normal;  margin-top: 15px; margin-bottom: 0; text-align: center;color: #fff; }
.count-text { font-size: 20px; font-weight: normal;  margin-top: 15px; margin-bottom: 0; text-align: center;color: #fff; }
.fa-2x { margin: 0 auto; float: none; display: table; color: #fff; }

.bg-position-fixed {
  background-attachment: fixed!important;
  min-height: 100%!important;
}
.banner-img-v3 {
  position: relative;
  z-index: 1;
  background: url(../img/web-development-banner.jpg) 50% 0 no-repeat;
  background-size: cover;
  padding: 6% 0;
  margin: 2% 0;
}
.banner-img-v3 .count-text::before {
  position: absolute;
  left: 50%;
  bottom: -9px;
  width: 30px;
  height: 1px;
  background: #fff;
  content: " ";
  margin-left: -15px;
}
.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {
  padding: 16px;
}
.mat-tab-label-active{
  border-bottom: 4px solid #ae2322 !important;
}
.social li{
  margin-left: 0%;
}

.disabled {
  pointer-events: none;
  cursor: default;
}
.cart-dropdown{
  display: none;
}
.dropdown-item.active, .dropdown-item:active{
  background-color: #ae2322;
  color: #fff !important;
}
.dropdown-item.active a, .dropdown-item:active a{
  color: #fff !important;
}
.btn-dropDown{
  background: transparent !important;
}
.btn-dropDown:focus{
  border: none !important;
  box-shadow: none !important;
}  
.btn-dropDown i{
  margin: 0 !important;
  font-size: 1.6em;
}

/* .ngx-gallery-image-wrapper{
  width: 340px !important;
  height: 430px !important;
  margin-top: -40px;
  margin-left: -25px;
}

.ads{
  width: 340px;
  height: 380px;
  background: #fff;
  border-radius: 7px;
}

.ngx-gallery-active[_nghost-c6]{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 1) !important;
  z-index: 100000;
  display: inline-block;
} */

.ngx-gallery-image-wrapper{
  width: 340px !important;
  height: 430px !important;
  margin-top: -56px;
  margin-left: -14px;
}

.ads{
  width: 327px;
  height: 380px;
  background: #fff;
  border-radius: 5px;
  z-index: 9999999;
  /* overflow: hidden; */
  visibility: hidden;
  position: fixed;
  right: 0;
  bottom: 0;
}
.ads.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
}

.ngx-gallery-active[_nghost-c6]{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 1) !important;
  z-index: 100000 !important;
  display: inline-block;
}
.ngx-gallery-active[_nghost-c5] {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 1) !important;
  z-index: 10000;
  display: inline-block;
}