body{
    direction: ltr;
    text-align: right;
}
nav.navbar .search-area-inner button {
    position: absolute;
    left: 0 !important;
    bottom: 15px;
    background: none;
    border: none;
    outline: none;
}
nav.navbar a.nav-link {
    color: #333;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 17px;
}
footer.main-footer .services-block .icon {
    margin-left: 20px !important;
    font-size: 2em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.text{
    text-align: right !important;
}
footer.main-footer .newsletter button {
    left: 15px !important;
}
footer.main-footer .services-block div[class*='col-'] {
    border-left: 1px solid #555;
}
.list-unstyled {
    padding-right: 0;
}
.payment-list{
    float: left;
}
.dropdown-menu{
    text-align: right;
}
section.categories .item {
    background-position: top left !important;
}
.content-cat{
    text-align: right;
}
.right-col .dropdown-menu {
    right: auto;
    left: 0;
}
nav.navbar .cart-product .text {
    padding-right: 20px;
}
nav.navbar .CTA .btn:first-of-type, nav.navbar .CTA .btn-template-outlined:first-of-type {
    margin-left: 10px;
}
.list-inline-item:not(:last-child) {
    margin-right:  0.1rem;;
}
.list-inline-item span{
    margin-left: 5px;
}
.dropdown-toggle span{
    margin-right: 7px;
    color: #bbb;
}
.languageDiv span{
    margin-right: 7px;
}
.top-bar .dropdown {
    padding: 0 25px;
    border-right: 1px solid #555;
    margin-left: 0 !important;
}
.top-bar ul li {
    padding: 0 15px;
    border-left: 1px solid #555;
    margin-left: -4px !important;
}
.dropdown-menu span{
    margin-right: 7px;
}
.customer-nav .list-group-item .icon, .customer-nav .list-group-item .fa {
    margin-left: 0.5rem;
}
.clearPic {
    position: relative;
    top: -40px;
    right: -10px !important;
    float: left;
}
.resend-btn{
    margin-right:4%;
    margin-top: -5px;
  }
.socil-footer{
  margin-right: -15%;
}
  .social ul{
  margin-right: -8%;
}
.social li{
margin-left: 4% !important;
}
.product .hover-overlay a.active i{
    margin-left: 3px;
}