<!-- Hero Section-->
<section class="hero hero-page gray-bg padding-small" *ngIf="isFrame">
  <div class="container">
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

    <div class="row d-flex">
      <div class="col-lg-9 order-2 order-lg-1">
        <h3>{{'checkout'|translate}}</h3>
        <p class="lead">You currently have {{cartResultLength}} item(s) in your basket</p>
      </div>
      <div class="col-lg-3 text-right order-1 order-lg-2">
        <ul class="breadcrumb justify-content-lg-end">
          <li class="breadcrumb-item">
            <a routerLink="home">{{'home'|translate}}</a>
          </li>
          <li class="breadcrumb-item active">{{'checkout'|translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Checout Forms-->
<section class="checkout" *ngIf="isFrame">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a routerLink="/checkOut/checkOutAddress" class="nav-link">Address</a>
          </li>
          <li class="nav-item">
            <a routerLink="/checkOut/checkOutDelivery" class="nav-link">Delivery Method </a>
          </li>
          <li class="nav-item">
            <a routerLink="/checkOut/checkOutPayment" class="nav-link">Payment Method </a>
          </li>
          <li class="nav-item">
            <a routerLink="/checkOut/checkOutOrderReview" class="nav-link active">Order Review</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="order-review" class="tab-block">
            <div class="cart">
              <div class="cart-holder">
                <div class="basket-header">
                  <div class="row">
                    <div class="col-4">{{'prdct'|translate}}</div>
                    <div class="col-2">{{'unitPric'|translate}}</div>
                    <div class="col-2">{{'cuts'|translate}}</div>
                    <div class="col-2">{{'qunt'|translate}}</div>
                    <div class="col-2">{{'pric'|translate}}</div>
                  </div>
                </div>
                <div class="basket-body">
                  <!-- Product-->
                  <div class="item row d-flex align-items-center" *ngFor="let item of submitedCartObj.cartItems">
                    <div class="col-4">
                      <div class="d-flex align-items-center">
                        <img *ngIf="item.item.pictureURL == null" src="assets/img/products/p1.png" alt="product" class="img-fluid">
                        <img *ngIf="item.item.pictureURL" [src]="item.item.pictureURL" alt="product" class="img-fluid">
                        <div class="title">
                          <a routerLink="categories/detail">
                            <h5 *ngIf="lang != 'ar' ">{{item.item.nameEN}}</h5>
                            <h5 *ngIf="lang == 'ar' ">{{item.item.nameAR}}</h5>
                            <span class="text-muted">{{'wit'|translate}}: {{item.item.weight}}</span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-2">
                      <span *ngIf="lang != 'ar' ">{{item.item.price}} {{item?.currency?.nameEN}}</span>
                      <span *ngIf="lang == 'ar' ">{{item.item.price}} {{item?.currency?.nameAR}}</span>
                    </div>
                    <div class="col-2">
                      <div class="d-flex align-items-center">
                        <div class="quantity d-flex align-items-center">
                          <span *ngIf="lang != 'ar' ">{{item?.cutting?.nameEN}}</span>
                          <span *ngIf="lang == 'ar' ">{{item?.cutting?.nameAR}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="d-flex align-items-center">
                        <div class="quantity d-flex align-items-center">
                          <span *ngIf="lang != 'ar' ">{{item?.quantity?.nameEN}}</span>
                          <span *ngIf="lang == 'ar' ">{{item?.quantity?.nameAR}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-2">
                      <span *ngIf="lang != 'ar' ">{{item.price}} {{item?.currency?.nameEN}}</span>
                      <span *ngIf="lang == 'ar' ">{{item.price}} {{item?.currency?.nameAR}}</span>
                    </div>
                  </div>
                  <!-- Product-->

                </div>
              </div>
              <div class="total row">
                <span class="col-md-10 col-2">{{'totl'|translate}}</span>
                <span class="col-md-2 col-10 text-primary">{{total}}</span>
              </div>
            </div>

            <div class="CTAs d-flex justify-content-between flex-column flex-lg-row">
              <a (click)="back()" class="btn btn-template-outlined wide prev">
                <i *ngIf="lang != 'ar' " class="fa fa-angle-left"></i>
                <i *ngIf="lang == 'ar' " class="fa fa-angle-right"></i>{{'bakToPatMethod'|translate}}</a>
              <a (click)="openTermsDialog()" class="btn btn-template wide next">{{'plcPrder'|translate}}
                <i *ngIf="lang != 'ar' " class="fa fa-angle-right"></i>
                <i *ngIf="lang == 'ar' " class="fa fa-angle-left"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <app-orderSummary></app-orderSummary>
      </div>
    </div>
  </div>
</section>

<iframe #myIframe id="myIframe" width="100%" height="700" *ngIf="isPOst" [src]="iframeURL" (load)="onLoadFunc(myIframe)"></iframe>