<div class="block-body order-summary">
    <h6 class="text-uppercase">{{'ordrSmry'|translate}}</h6>
    <p>{{'ordrSumrySubcrip'|translate}}</p>
    <ul class="order-menu list-unstyled">
        <li class="d-flex justify-content-between">
            <span>{{'orderSubTotl'|translate}} </span>
            <strong>{{orderSubtotal}}</strong>
        </li>
        <li class="d-flex justify-content-between">
            <span>{{'shipHandling'|translate}}</span>
            <strong>{{orderFeeds}}</strong>
        </li>
        <li class="d-flex justify-content-between">
            <span>{{'txs'|translate}}</span>
            <strong>{{tax}}</strong>
        </li>
        <li class="d-flex justify-content-between">
            <span>{{'totl'|translate}}</span>
            <strong class="text-primary price-total">{{total}}</strong>
        </li>
    </ul>
</div>