<!-- Hero Section-->
<section class="hero hero-page gray-bg padding-small">
    <div class="container">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
        <div class="row d-flex">
            <div class="col-lg-9 order-2 order-lg-1">
                <h3>{{'contact' | translate}}</h3>
            </div>
            <div class="col-lg-3 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end">
                    <li class="breadcrumb-item">
                        <a href="home">{{'home' | translate}}</a>
                    </li>
                    <li class="breadcrumb-item active">{{'contact' | translate}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<main class="contact-page">
    <!-- Contact page-->
    <section class="contact">
        <div class="container">
            <header>
                <p class="lead">
                    {{'contactTitle'|translate}}
                </p>
            </header>
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-icon">
                        <div class="fa fa-map-o"></div>
                    </div>
                    <h5>{{'adrss'|translate}}</h5>
                    <p>Al Salhiya Trading Complex, Gate 3,
                        <br> (2nd & 4th Floor)
                        <strong>Kuwit</strong>
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="contact-icon">
                        <div class="fa fa-volume-control-phone"></div>
                    </div>
                    <h5>{{'calCntr'|translate}}</h5>
                    <p>{{'calDetail'|translate}}</p>
                    <p>
                        Phone:
                        <strong> +965 224 55 700 | +965 18888 22</strong>
                        <br> fax:
                        <strong> +965 2240 2109 | +965 2243 8970</strong>
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="contact-icon">
                        <div class="fa fa-envelope-o"></div>
                    </div>
                    <h5>{{'elctronicSuport'|translate}}</h5>
                    <p>{{'elctronTitl'|translate}}</p>
                    <ul class="list-style-none">
                        <li style="list-style:none;">
                            <strong>
                                <a href="mailto:">info@almawashi.com.kw</a>
                            </strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row offices">
            <div class="content-md container">
                <div class="heading-v1 text-center margin-b-80">
                    <h2 class="heading-v1-title">{{'ofcis'|translate}}</h2>
                    <p class="heading-v1-text">{{'colaportAdrs'|translate}}</p>
                </div>

                <div class="row">
                    <div class="col-md-4 md-margin-b-30">
                        <div class="bg-color-white padding-30 text-center">
                            <div class="margin-b-20">
                                <h2 class="font-size-22 margin-b-5">{{'kw'|translate}}</h2>
                                <p class="font-size-14">{{'hedOfic'|translate}}</p>
                            </div>
                            <p class="margin-b-5">Sulaibeya Agricultural area 30681 P.O.Box: 23727 Kuwait</p>
                            <p class="margin-b-5">
                                <a href="#">info@almawashi.com.kw</a>
                            </p>
                            <p>Phone: +965 1888822</p>
                            <p>Fax: +965 22969799</p>
                        </div>
                    </div>
                    <div class="col-md-4 md-margin-b-30">
                        <div class="bg-color-white padding-30 text-center">
                            <div class="margin-b-20">
                                <h2 class="font-size-22 margin-b-5">{{'uae'|translate}}</h2>
                                <p class="font-size-14">{{'othrOfic'|translate}}</p>
                            </div>
                            <p class="margin-b-5">P.O.Box: 55540 Dubai, Jabel Ali complex – Al Ain Road</p>
                            <p class="margin-b-5">
                                <a href="#">elmco@emirates.net.ae</a>
                            </p>
                            <p>Phone: +971 800888822</p>
                            <p>Fax: + 971 48801119</p>
                        </div>
                    </div>
                    <div class="col-md-4 md-margin-b-30">
                        <div class="bg-color-white padding-30 text-center">
                            <div class="margin-b-20">
                                <h2 class="font-size-22 margin-b-5">{{'austrlia'|translate}}</h2>
                                <p class="font-size-14">{{'othrOfic'|translate}}</p>
                            </div>
                            <p class="margin-b-5">Retwa, P.O.Box: 1362 - West Perth, WA 6872
                                <br>Western Australia</p>
                            <p class="margin-b-5">
                                <a href="#">retwa@multiline.com.au</a>
                            </p>
                            <p>Phone: +61 89322 6649</p>
                            <p>Fax: +61 89322 1240</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker *ngFor="let mark of markers" [latitude]="mark.latitude" [longitude]="mark.longitude" [iconUrl]="mark.markerUrl">
            <agm-info-window #infoWindow>
                <strong>{{mark.name}}</strong>
            </agm-info-window>
        </agm-marker>
    </agm-map>
    <!-- <div id="map"> </div> -->
    <section>
        <div class="container">
            <header class="mb-5">
                <h2 class="heading-line">{{'contactForm'|translate}}</h2>
            </header>
            <div class="row">
                <div class="col-md-7">
                    <form id="contact-form" method="post" class="custom-form form">
                        <div class="controls">
                            <div class="form-group">
                                <label for="name" class="form-label">{{'name'|translate}} *</label>
                                <input type="text" name="name" id="name" placeholder="Enter your name" required="required" class="form-control" [(ngModel)]="msgObj.ReviewerName">
                            </div>
                            <div class="form-group">
                                <label for="email" class="form-label">{{'yurMail'|translate}} *</label>
                                <input type="email" name="email" id="email" placeholder="Enter your  email" required="required" class="form-control" [(ngModel)]="msgObj.ReviewerMail">
                            </div>
                            <div class="form-group">
                                <label for="surname" class="form-label">{{'titlMsg'|translate}} *</label>
                                <input type="text" name="surname" id="surname" placeholder="Enter your  title" required="required" class="form-control" [(ngModel)]="msgObj.Title">
                            </div>
                            <div class="form-group">
                                <label for="message" class="form-label">{{'yurMsg'|translate}} *</label>
                                <textarea rows="4" name="message" id="message" placeholder="Enter your message" required="required" class="form-control"
                                    [(ngModel)]="msgObj.Comment"></textarea>
                            </div>
                            <button type="submit" class="btn btn-template" (click)=" sendCOntactUsMsg()">{{'sendMess' | translate}}</button>
                        </div>
                    </form>

                    <!-- <mat-card-content>
                        <mat-tab-group class="demo-tab-group" [selectedIndex]="0">
                            <mat-tab label="{{'contactForm'|translate}}" active>
                                <div class="demo-tab-content">
                                    <form id="contact-form" method="post" class="custom-form form">
                                        <div class="controls">
                                            <div class="form-group">
                                                <label for="name" class="form-label">{{'name'|translate}} *</label>
                                                <input type="text" name="name" id="name" placeholder="Enter your name" required="required" class="form-control" [(ngModel)]="msgObj.ReviewerName">
                                            </div>
                                            <div class="form-group">
                                                <label for="email" class="form-label">{{'yurMail'|translate}} *</label>
                                                <input type="email" name="email" id="email" placeholder="Enter your  email" required="required" class="form-control" [(ngModel)]="msgObj.ReviewerMail">
                                            </div>
                                            <div class="form-group">
                                                <label for="surname" class="form-label">{{'titlMsg'|translate}} *</label>
                                                <input type="text" name="surname" id="surname" placeholder="Enter your  title" required="required" class="form-control" [(ngModel)]="msgObj.Title">
                                            </div>
                                            <div class="form-group">
                                                <label for="message" class="form-label">{{'yurMsg'|translate}} *</label>
                                                <textarea rows="4" name="message" id="message" placeholder="Enter your message" required="required" class="form-control"
                                                    [(ngModel)]="msgObj.Comment"></textarea>
                                            </div>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary" (click)=" sendCOntactUsMsg()">
                                                    <i class="fa fa-share-square"></i>{{'sendMess' | translate}}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </mat-tab>
                            <mat-tab label="{{'complints'|translate}}">
                                <div class="demo-tab-content">
                                    <form class="content-block">
                                        <div class="form-group">
                                            <label class="form-label">{{'compType'|translate}}</label>
                                            <select id="sorting" class="form-control" name="type" [(ngModel)]="CompTypeId" placeholder="select one">
                                                <option value="" disabled selected>- Select One -</option>
                                                <option *ngFor="let type of complaintOPtions" [value]="type.id">
                                                    <span *ngIf="lang != 'ar'">{{type.nameEN}}</span>
                                                    <span *ngIf="lang == 'ar'">{{type.nameAR}}</span>
                                                </option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="message" class="form-label">{{'compDetail'|translate}} *</label>
                                            <textarea rows="4" name="message" id="message" placeholder="Enter your complaint" required="required" class="form-control"
                                                [(ngModel)]="complintObj.Comment"></textarea>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary" (click)="sendComplaint()">
                                                <i class="fa fa-share-square"></i>{{'sendComplin'|translate}}</button>
                                        </div>
                                    </form>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-card-content> -->
                </div>
                <div class="col-md-5">
                    <p>{{'contactPhrag'|translate}} </p>
                    <div class="social">
                        <ul class="social-menu list-inline">
                            <li class="list-inline-item" *ngFor="let social of socialMedia">
                                <a href="{{social.value}}" target="_blank" title="twitter" *ngIf="social.key == 'TWITTER'">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="{{social.value}}" target="_blank" title="facebook" *ngIf="social.key == 'FACEBOOK'">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="{{social.value}}" target="_blank" title="instagram" *ngIf="social.key == 'INSTAGRAM'">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>