<!-- Hero Section-->
<section class="hero hero-page gray-bg padding-small">
  <div class="container">
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="row d-flex">
      <div class="col-lg-9 order-2 order-lg-1">
        <h3>{{'checkout'|translate}}</h3>
        <p class="lead">You currently have {{cartResultLength}} item(s) in your basket</p>
      </div>
      <div class="col-lg-3 text-right order-1 order-lg-2">
        <ul class="breadcrumb justify-content-lg-end">
          <li class="breadcrumb-item">
            <a routerLink="home">{{'home'|translate}}</a>
          </li>
          <li class="breadcrumb-item active">{{'checkout'|translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Checkout Forms-->
<section class="checkout">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a routerLink="/checkOut/checkOutAddress" class="nav-link">Address</a>
          </li>
          <li class="nav-item">
            <a routerLink="/checkOut/checkOutDelivery" class="nav-link active">Delivery Method </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link disabled">Payment Method </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link disabled">Order Review</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="delivery-method" class="tab-block">
            <div class="block">
              <div class="block-header">
                <h6 class="text-uppercase">{{'coponCod'|translate}}</h6>
              </div>
              <div class="block-body" style="border:none;padding: 40px 30px;">
                <p>{{'coponTitle'|translate}}</p>
                <form>
                  <div class="form-group d-flex">
                    <input type="text" name="coupon" [(ngModel)]="sharedS.promoCode">
                    <button type="submit" class="cart-black-button" (click)="checkPromoCodeValid()">{{'aplyCopon'|translate}}</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="deliveryNoteDiv">
              <div class="block">
                <div class="block-header">
                  <h6>{{'havNote'|translate}}</h6>
                </div>
                <div class="block-body" style="border:none;padding: 40px 30px;">
                  <p>{{'notTitle'|translate}}</p>
                  <div class="form-group">
                    <textarea rows="2" [(ngModel)]="sharedS.deliveryNote"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="CTAs d-flex justify-content-between flex-column flex-lg-row">
              <a (click)="back()" class="btn btn-template-outlined wide prev">
                <i *ngIf="lang != 'ar' " class="fa fa-angle-left"></i>
                <i *ngIf="lang == 'ar' " class="fa fa-angle-right"></i>{{'backToAdres'|translate}}</a>
              <a (click)="submitDeliverDate()" class="btn btn-template wide next">{{'chosPayMethod'|translate}}
                <i *ngIf="lang != 'ar' " class="fa fa-angle-right"></i>
                <i *ngIf="lang == 'ar' " class="fa fa-angle-left"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <app-orderSummary></app-orderSummary>
      </div>
    </div>
  </div>
</section>