<!-- title Section-->
<section class="hero hero-page gray-bg padding-small">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-9 order-2 order-lg-1">
                <h1>{{'about'|translate}}</h1>
            </div>
            <div class="col-lg-3 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end">
                    <li class="breadcrumb-item">
                        <a href="index.html">{{'home'|translate}}</a>
                    </li>
                    <li class="breadcrumb-item active">{{'about'| translate}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- about us-->
<section class="padding-small">
    <div class="container">
        <div class="row about-item">
            <div class="col-lg-8 col-sm-9">
                <h2>{{'howBegin'|translate}}</h2>
                <p class="text-muted">{{'aboutDetails'|translate}}</p>
            </div>
            <div class="col-lg-4 col-sm-3 d-none d-sm-flex align-items-center">
                <div class="about-icon ml-lg-0">
                    <i class="fa fa-line-chart"></i>
                </div>
            </div>
        </div>
        <div class="row about-item">
            <div class="col-lg-4 col-sm-3 d-none d-sm-flex align-items-center">
                <div class="about-icon mr-lg-0">
                    <i class="fa fa-user-o"> </i>
                </div>
            </div>
            <div class="col-lg-8 col-sm-9">
                <h2>{{'hoWAr'|translate}}</h2>
                <p class="text-muted">{{'hoWArDetils'|translate}}</p>
            </div>
        </div>
    </div>
    <!-- counter -->
    <div class="banner-img-v3 bg-position-fixed">
        <div class="content-sm container">
            <div class="row">
                <div class="col-sm-3 col-xs-6 xs-full-width sm-margin-b-50">
                    <i class="fa fa-trophy fa-2x"></i>
                    <h6 class="timer count-title count-number" data-to="44" data-speed="1500"></h6>
                    <h4 class="count-text">{{'yerOfEx'|translate}}</h4>
                </div>

                <div class="col-sm-3 col-xs-6 xs-full-width sm-margin-b-50">
                    <i class="fa fa-globe fa-2x"></i>
                    <h6 class="timer count-title count-number" data-to="3" data-speed="1500"></h6>
                    <h4 class="count-text">{{'contris'|translate}}</h4>
                </div>

                <div class="col-sm-3 col-xs-6 xs-full-width xs-margin-b-50">
                    <i class="fa fa-bullseye fa-2x"></i>
                    <h6 class="timer count-title count-number" data-to="3" data-speed="1500"></h6>

                    <h4 class="count-text">{{'marFlt'|translate}}</h4>
                </div>

                <div class="col-sm-3 col-xs-6 xs-full-width last">
                    <i class="fa fa-mars-double fa-2x"></i>
                    <h6 class="timer count-title count-number" data-to="32" data-speed="1500"></h6>
                    <h4 class="count-text">{{'otlets'|translate}}</h4>
                </div>


            </div>
        </div>
    </div>
    <div class="container">
        <div class="row about-item">
            <div class="col-lg-8 col-sm-9">
                <h2>{{'visin'|translate}}</h2>
                <p class="text-muted">{{'visinDetils'|translate}}</p>
            </div>
            <div class="col-lg-4 col-sm-3 d-none d-sm-flex align-items-center">
                <div class="about-icon ml-lg-0">
                    <i class="icon icon-heart"></i>
                </div>
            </div>
        </div>
        <div class="row about-item">
            <div class="col-lg-4 col-sm-3 d-none d-sm-flex align-items-center">
                <div class="about-icon mr-lg-0">
                    <i class="icon icon-truck"> </i>
                </div>
            </div>
            <div class="col-lg-8 col-sm-9">
                <h2>{{'misin'|translate}}</h2>
                <p class="text-muted">{{'misinDetil1'|translate}} </p>
            </div>
        </div>
        <div class="row about-item">
            <div class="col-lg-8 col-sm-9">
                <h2>{{'wCre'|translate}}</h2>
                <p class="text-muted">{{'wCreDetils'|translate}}</p>
            </div>
            <div class="col-lg-4 col-sm-3 d-none d-sm-flex align-items-center">
                <div class="about-icon ml-lg-0">
                    <i class="icon icon-heart"></i>
                </div>
            </div>
        </div>


    </div>
</section>