<!--The content below is only a placeholder and can be replaced.-->

<!-- navbar-->
<header class="header sticky-top nav-down" dir="{{ 'dir' | translate }}" [class.rtl]="('dir' | translate) === 'rtl'">
  <!-- Tob Bar-->
  <div class="top-bar">
    <div class="container-fluid">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 hidden-lg-down text-col">
          <ul class="list-inline">
            <li class="list-inline-item" *ngFor="let phone of phones">
              <i class="fa fa-phone"></i>
              <span>{{phone.value}}</span>
            </li>
            <li class="list-inline-item">
              <i class="fa fa-mobile"></i>
              <span>{{'mobileAppSup' | translate}}</span>
            </li>
            <li class="list-inline-item">
              <i class="fa fa-truck"></i>
              <span>{{'homeDelivery' | translate}}</span>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 d-flex justify-content-end">
          <!-- Country Dropdown-->
          <div class="dropdown show">
            <a id="langsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
              <a *ngIf="!selectedCountry">Select Country</a>
              <img src="assets/img/ar.png" alt="kw" *ngIf="selectedCountry == 1">
              <img src="assets/img/uae.png" alt="uae" *ngIf="selectedCountry == 2">
              <span>{{selectedCountryName}}</span>
            </a>
            <div aria-labelledby="langsDropdown" class="dropdown-menu">
              <a (click)="switchCountry2(country.id,country.name,true)" class="dropdown-item" *ngFor="let country of countries" [routerLinkActive]="['active']">
                <img src="assets/img/ar.png" alt="kw">
                <span>{{country.name}}</span>
              </a>
            </div>
          </div>

          <!-- Language Dropdown-->
          <div class="dropdown show languageDiv">
            <li *ngIf="isAr">
              <a (click)="switchLanguage('en',true)">
                <img src='assets/img/en.png' alt="language">
                <span>English</span>
              </a>
            </li>
            <li *ngIf="!isAr">
              <a (click)="switchLanguage('ar',true)">
                <img src='assets/img/ar.png' alt="language">
                <span>عربي</span>
              </a>
            </li>
          </div>
          <!-- Currency Dropdown-->
          <!-- <div class="dropdown show">
            <a id="currencyDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">USD</a>
            <div aria-labelledby="currencyDropdown" class="dropdown-menu">
              <a href="" class="dropdown-item">KWD</a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg">
    <div class="search-area">
      <div class="search-area-inner d-flex align-items-center justify-content-center">
        <div class="close-btn">
          <i class="fa fa-times"></i>
        </div>
        <form action="#">
          <div class="form-group">
            <input type="search" name="search" id="search" placeholder="{{'searchText' | translate}}">
            <button type="submit" class="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="container-fluid">
      <!-- Navbar Header  -->
      <a class="navbar-brand" (click)="goHome()">
        <img src="assets/img/logo.png" alt="logo" width="170">
      </a>
      <button type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
        aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right">
        <i class="fa fa-bars"></i>
      </button>
      <!-- Navbar Collapse -->
      <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a routerLink="home" class="nav-link" [routerLinkActive]="['active']" (click)="loadScripts()">{{ 'home' | translate }}</a>
          </li>
          <li class="nav-item">
            <a routerLink="about" class="nav-link" [routerLinkActive]="['active']" (click)="loadScripts()">{{ 'about' | translate }}</a>
          </li>
          <!-- Multi level dropdown SECTORS-->
          <li class="nav-item dropdown">
            <a id="navbarDropdownMenuLink" [routerLinkActive]="['active']" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              class="nav-link">{{ 'sectors' | translate }}
              <i class="fa fa-angle-down"></i>
            </a>
            <ul aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
              <li>
                <a routerLink="/finanace" [routerLinkActive]="['active']" class="dropdown-item sector-item">{{'finance'| translate}}</a>
              </li>
              <li>
                <a routerLink="/marineFleet" [routerLinkActive]="['active']" class="dropdown-item sector-item">{{'marineFleet'| translate}}</a>
              </li>
              <li>
                <a routerLink="/operation" [routerLinkActive]="['active']" class="dropdown-item sector-item">{{'operations'| translate}}</a>
              </li>
              <li>
                <a routerLink="/marketing" [routerLinkActive]="['active']" class="dropdown-item sector-item">{{'marketingLocalSales'| translate}}</a>
              </li>
              <li>
                <a routerLink="/HR" [routerLinkActive]="['active']" class="dropdown-item sector-item">{{'hrIt'| translate}}</a>
              </li>
              <li>
                <a routerLink="/qualityAssuarance" [routerLinkActive]="['active']" class="dropdown-item">{{'qualityAssurance'| translate}}</a>
              </li>
            </ul>
          </li>
          <!-- Multi level dropdown SECTORS end-->
          <!-- Products Megamenu-->
          <li class="nav-item dropdown menu-large">
            <a data-toggle="dropdown" class="nav-link" routerLink="categories" [routerLinkActive]="['active']">{{ 'products' | translate }}
              <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu megamenu">
              <div class="row">
                <div class="col-lg-9">
                  <div class="row">
                    <div class="col-lg-3" *ngFor="let item of categories">
                      <strong class="text-uppercase" *ngIf="lang != 'ar'">{{item.nameEN}}</strong>
                      <strong class="text-uppercase" *ngIf="lang == 'ar'">{{item.nameAR}}</strong>
                      <ul class="list-unstyled">
                        <li>
                          <a (click)="viewCategory(item)">{{'allProducts' | translate}}</a>
                        </li>
                      </ul>
                    </div>
                 </div>
                  <!-- <div class="row services-block">
                    <div class="col-xl-3 col-lg-6 d-flex">
                      <div class="item d-flex align-items-center">
                        <div class="icon">
                          <i class="fa fa-truck text-primary"></i>
                        </div>
                        <div class="text">
                          <span class="text-uppercase">{{'freeShipping' | translate}}</span>
                          <small>{{'shippingover' | translate}}</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 d-flex">
                      <div class="item d-flex align-items-center">
                        <div class="icon">
                          <i class="fa fa-usd text-primary"></i>
                        </div>
                        <div class="text">
                          <span class="text-uppercase">{{'moneyBack' | translate}}</span>
                          <small>{{'moneyBackDays' | translate}}</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 d-flex">
                      <div class="item d-flex align-items-center">
                        <div class="icon">
                          <i class="fa fa-headphones text-primary"></i>
                        </div>
                        <div class="text">
                          <span class="text-uppercase">020-800-456-747</span>
                          <small>{{'support' | translate}}</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 d-flex">
                      <div class="item d-flex align-items-center">
                        <div class="icon">
                          <i class="fa  fa-shield text-primary"></i>
                        </div>
                        <div class="text">
                          <span class="text-uppercase">{{'SecurePayment' | translate}}</span>
                          <small>{{'SecurePayment' | translate}}</small>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
                <div class="col-lg-3 text-center product-col hidden-lg-down">
                  <!-- Products Slider-->
                  <!-- <div class="owl-carousel owl-theme hero-slider"> -->
                    <!-- item-->
                    <div class="item">
                      <a class="product-image">
                        <img src="assets/img/products/p11.png" alt="prodcut" class="img-fluid" width="150">
                      </a>
                      <h6 class="text-uppercase product-heading">
                        <a>{{'liveStock' | translate}}</a>
                      </h6>

                      <strong class="price text-primary">$65.00</strong>
                      <a routerLink="cart" class="btn btn-template wide">Add to cart</a>
                    </div>
                    <!-- item-->
                    <!-- <div class="item">
                      <a routerLink="categories/detail" class="product-image">
                        <img src="assets/img/products/p11.png" alt="..." class="img-fluid" width="100">
                      </a>
                      <h6 class="text-uppercase product-heading">
                        <a routerLink="categories/detail">{{'liveStock' | translate}}</a>
                      </h6>

                      <strong class="price text-primary">$65.00</strong>
                      <a routerLink="cart" class="btn btn-template wide">Add to cart</a>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </li>
          <!-- /Products Megamenu end-->

          <li class="nav-item">
            <a routerLink="contact" class="nav-link" [routerLinkActive]="['active']">{{ 'contacts' | translate }}</a>
          </li>
        </ul>
        <div class="right-col d-flex align-items-lg-center flex-column flex-lg-row">
          <!-- User Not Logged - link to login page-->
          <div class="user dropdown show" *ngIf="notloged">
            <a id="userdetails" routerLink="login" class="user-link">
              <i class="fa fa-sign-in header-icons"> </i>
            </a>
          </div>
          <!-- User Logged: Dropdown -->
          <div class="user dropdown show" *ngIf="isloged">
            <a id="userdetails" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
              <i class="fa fa-user-o header-icons"></i>
            </a>
            <ul aria-labelledby="userdetails" class="dropdown-menu">
              <li class="dropdown-item">
                <a routerLink="orders" [routerLinkActive]="['active']">{{'orders' | translate}}</a>
              </li>
              <li class="dropdown-item">
                <a routerLink="addresses" [routerLinkActive]="['active']">{{'addresses' | translate}}</a>
              </li>
              <li class="dropdown-item" [routerLinkActive]="['active']">
                <a routerLink="profile" [routerLinkActive]="['active']">{{'profile' | translate}}</a>
              </li>
              <li class="dropdown-item">
                  <a routerLink="complaint" [routerLinkActive]="['active']">{{'complints' | translate}}</a>
                </li>
              <li class="dropdown-divider"> </li>
              <li class="dropdown-item">
                <a (click)="logOut()" [routerLinkActive]="['active']">{{'logOut' | translate}} </a>
              </li>
            </ul>
          </div>
          <!-- Cart Dropdown-->
          <div class="cart dropdown show">
            <button id="cartdetails" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-dropDown" (click)="getCatItems()" [disabled]="!shearedS.cartCount">
              <i class="fa fa-cart-plus header-icons"></i>
              <div class="cart-no">{{shearedS.cartCount}}</div>
            </button>
            <a routerLink="cart" class="text-primary view-cart">{{'viewCart' | translate}}</a>
            <div aria-labelledby="cartdetails" class="dropdown-menu cart-dropdown">
              <!-- cart item-->
              <div class="dropdown-item cart-product">
                <div class="d-flex align-items-center" *ngFor="let item of tempList">
                  <div class="img">
                    <img *ngIf="item.item.pictureURL == null" src="assets/img/products/p1.png" alt="product" class="img-fluid">
                    <img *ngIf="item.item.pictureURL" [src]="item.item.pictureURL" alt="product" class="img-fluid">
                  </div>
                  <div class="details d-flex justify-content-between">
                    <div class="text">
                      <a>
                        <strong *ngIf="lang != 'ar' ">{{item?.item?.nameEN}}</strong>
                        <strong *ngIf="lang == 'ar' ">{{item?.item?.nameAR}}</strong>
                      </a>
                      <small *ngIf="item?.quantity?.id">{{'quantity'|translate}}: {{item?.quantity?.nameEN}} </small>
                      <small *ngIf="!item?.quantity?.id">{{'quantity'|translate}}: {{item?.quantity}} </small>
                      <span class="price" *ngIf="lang != 'ar' ">{{item?.item?.finalPrice}}  {{item?.item?.currency.nameEN}}</span>
                      <span class="price" *ngIf="lang == 'ar' ">{{item?.item?.finalPrice}}  {{item?.item?.currency.nameAR}}</span>
                    </div>
                    <a (click)="removeItem(item)" class="delete">
                      <i class="fa fa-trash-o"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- total price-->
              <div class="dropdown-item total-price d-flex justify-content-between">
                <span>{{'totl'|translate}}</span>
                <strong class="text-primary">{{totalPrice}}</strong>
              </div>
              <!-- call to actions-->
              <div class="dropdown-item CTA text-center">
                <button routerLink="cart" class="btn btn-template" [disabled]="!shearedS.cartCount">{{'viewCart' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<div dir="{{ 'dir' | translate }}" [class.rtl]="('dir' | translate) === 'rtl'">
  <router-outlet autoscroll="true"></router-outlet>
</div>

<div id="scrollTop">
  <i class="fa fa-long-arrow-up"></i>
</div>

<!-- Footer-->
<footer class="main-footer" dir="{{ 'dir' | translate }}" [class.rtl]="('dir' | translate) === 'rtl'">
  <!-- Main Block -->
  <div class="main-block">
    <div class="container">
      <div class="row">
        <div class="info col-lg-4">
          <div class="logo">
            <img src="assets/img/logo.png" alt="logo" width="180">
          </div>
          <p>{{'aboutDetails'|translate}}</p>
          <ul class="social-menu list-inline socil-footer">
            <li class="list-inline-item" *ngFor="let social of socialMedia">
              <a href="{{social.value}}" target="_blank" title="twitter" *ngIf="social.key == 'TWITTER'">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="{{social.value}}" target="_blank" title="facebook" *ngIf="social.key == 'FACEBOOK'">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="{{social.value}}" target="_blank" title="instagram" *ngIf="social.key == 'INSTAGRAM'">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="site-links col-lg-5 col-md-12" *ngIf="categories.length > 0">
          <h5 class="text-uppercase">{{'products' | translate}}</h5>
          <div class="row container">
          <ul class="list-unstyled col-md-6" *ngFor="let item of categories| evenodd:'odd'">
            <li>
              <a (click)="viewCategory(item)" *ngIf="lang != 'ar' ">{{item.nameEN}}</a>
              <a (click)="viewCategory(item)" *ngIf="lang == 'ar' ">{{item.nameAR}}</a>
            </li>
          </ul>
          <ul class="list-unstyled col-md-6" *ngFor="let item of categories| evenodd:'even'">
              <li>
                <a (click)="viewCategory(item)" *ngIf="lang != 'ar' ">{{item.nameEN}}</a>
                <a (click)="viewCategory(item)" *ngIf="lang == 'ar' ">{{item.nameAR}}</a>
              </li>
            </ul>
          </div>
        </div>
       
        <div class="col-lg-3" *ngIf="selectedCountryName == 'UAE'">
          <h5 class="text-uppercase">{{'powerBy' | translate}}</h5>
          <p>
            <img src="assets/img/partner/2.png" class="img-fluid img-thumbnail" width="60">
            <img src="assets/img/partner/3.png" class="img-fluid img-thumbnail" width="60">
            <img src="assets/img/partner/4.png" class="img-fluid img-thumbnail" width="60">
            <img src="assets/img/partner/1.png" class="img-fluid img-thumbnail" width="60">
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="text col-md-6">
          <p>{{'yer'|translate}}
            <a href="http://www.e-amanah.com" target="_blank">{{'amahaTech'|translate}} </a> {{'rigts'|translate}}.</p>
        </div>
        <div class="payment col-md-6 clearfix">
          <ul class="col-lg-6 payment-list list-inline-item pull-right">
            <li class="list-inline-item">
              <a href="https://play.google.com/store/apps/details?id=com.almawashi&hl=en" target="_blank" style="text-decoration: none;">
                <i class="fa fa-android"></i>
                <span>{{'googlPly'|translate}}</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://itunes.apple.com/kw/app/almawashi/id1146151226?mt=8" target="_blank" style="text-decoration: none;">
                <i class="fa fa-apple"></i>
                <span>{{'apStor'|translate}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>