<!-- Hero Section-->
<section class="hero hero-page gray-bg padding-small">
  <div class="container">
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

    <div class="row d-flex">
      <div class="col-lg-9 order-2 order-lg-1">
        <h3>{{'checkout'|translate}}</h3>
        <p class="lead">You currently have {{cartResultLength}} item(s) in your basket</p>
      </div>
      <div class="col-lg-3 text-right order-1 order-lg-2">
        <ul class="breadcrumb justify-content-lg-end">
          <li class="breadcrumb-item">
            <a routerLink="home">{{'home'|translate}}</a>
          </li>
          <li class="breadcrumb-item active">{{'checkout'|translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Checkout Forms-->
<section class="checkout">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a routerLink="/checkOut/checkOutAddress" class="nav-link">Address</a>
          </li>
          <li class="nav-item">
            <a routerLink="/checkOut/checkOutDelivery" class="nav-link">Delivery Method </a>
          </li>
          <li class="nav-item">
            <a routerLink="/checkOut/checkOutPayment" class="nav-link active">Payment Method </a>
          </li>
          <li class="nav-item">
            <a routerLink="/checkOut/checkOutOrderReview" class="nav-link disabled">Order Review</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="payment-method" class="tab-block">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <p *ngIf="!country">please select country first</p>
              <div class="card payDeliveryCard" *ngFor="let item of medthods.data; let i = index">
                  <div class="card-body">
                    <mat-radio-group class="example-radio-group" [(ngModel)]="sheardS.PaymentTypeCode" name="PaymentTypeCode">
                      <mat-radio-button class="example-radio-button form-group" [value]="item.code" style="margin-bottom:7%">
                        <label>
                          <strong *ngIf="lang != 'ar' ">{{item.nameEN}}</strong>
                          <strong *ngIf="lang == 'ar' ">{{item.nameAR}}</strong>
                          <br>
                          <!-- <span class="label-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span> -->
                        </label>
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                <!-- </div>-->
              </div> 

            </div>
            <div class="CTAs d-flex justify-content-between flex-column flex-lg-row">
              <button (click)="back()" class="btn btn-template-outlined wide prev">
                <i *ngIf="lang != 'ar' " class="fa fa-angle-left"></i>
                <i *ngIf="lang == 'ar' " class="fa fa-angle-right"></i>{{'bakToDeliverMethod'|translate}}</button>
              <button (click)="submitPayMethod()" class="btn btn-template wide next" [disabled]="!sheardS.PaymentTypeCode" style="margin-left: 1%;">
                {{'continuOrderReviw'|translate}} 
                <i *ngIf="lang != 'ar' " class="fa fa-angle-right"></i>
                <i *ngIf="lang == 'ar' " class="fa fa-angle-left"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <app-orderSummary></app-orderSummary>
      </div>
    </div>
  </div>
</section>