<!-- Hero Section-->
<section class="hero hero-page gray-bg padding-small">
  <div class="container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="row d-flex">
      <div class="col-lg-9 order-2 order-lg-1">
        <h3>{{'complints'|translate}}</h3>
      </div>
      <div class="col-lg-3 text-right order-1 order-lg-2">
        <ul class="breadcrumb justify-content-lg-end">
          <li class="breadcrumb-item">
            <a routerLink="home">{{'home'|translate}}</a>
          </li>
          <li class="breadcrumb-item active">{{'complints'|translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="padding-small">
  <div class="container">
    <div class="row">
      <!-- Customer Sidebar-->
      <div class="customer-sidebar col-xl-3 col-lg-4 mb-md-5">
        <div class="customer-profile">
          <a class="d-inline-block">
            <img *ngIf="currentUser?.pictureUrl == null" src="assets/img/avater.png" class="img-fluid rounded-circle customer-image">
            <img *ngIf="currentUser?.pictureUrl != null" [src]="currentUser?.pictureUrl" class="img-fluid rounded-circle customer-image">
          </a>
          <h6>{{currentUser?.firstName}} {{currentUser?.lastName}}</h6>
        </div>
        <nav class="list-group customer-nav">
          <a routerLink="/orders" class="list-group-item d-flex justify-content-between align-items-center">
            <span>
              <span class="fa fa-shopping-bag"></span>{{'orders'| translate}}</span>
            <small class="badge badge-pill badge-light">{{ordersCount}}</small>
          </a>
          <a href="#profileMenu" class="list-group-item d-flex justify-content-between align-items-center list-group-item" data-toggle="collapse"
            data-parent="#profileMenu">
            <span>
              <span class="fa fa-user-o"></span>{{'profile'| translate}}</span>
            <i class="fa fa-caret-down"></i>
          </a>
          <div class="collapse list-group-submenu list-group-submenu-1" id="profileMenu">
            <a routerLink="/profile" class="list-group-item d-flex justify-content-between align-items-center list-group-item" data-parent="#profileMenu">{{'view'| translate}}</a>
            <a routerLink="/changePassword" class="list-group-item d-flex justify-content-between align-items-center list-group-item"
              data-parent="#profileMenu">{{'changePassword'| translate}}</a>
          </div>
          <a routerLink="/addresses" class="list-group-item d-flex justify-content-between align-items-center">
            <span>
              <span class="fa fa-map-o"></span>{{'addresses'| translate}}</span>
          </a>
          <a routerLink="/complaint" class="active list-group-item d-flex justify-content-between align-items-center">
            <span>
              <span class="fa fa-file-o"></span>{{'complints'| translate}}</span>
          </a>
          <a (click)="logOut()" class="list-group-item d-flex justify-content-between align-items-center">
            <span>
              <span class="fa fa-sign-out"></span>{{'logOut'| translate}}</span>
          </a>
        </nav>
      </div>
      <div class="col-lg-8 col-xl-9 pl-lg-3">
        <div class="block-header mb-5">
          <h5>{{'complints'| translate}} </h5>
        </div>
        <form class="content-block">
          <div class="form-group">
            <label class="form-label">{{'compType'|translate}}</label>
            <select id="sorting" class="form-control" name="type" [(ngModel)]="CompTypeId" placeholder="select one">
              <option value="" disabled selected>- Select One -</option>
              <option *ngFor="let type of complaintOPtions" [value]="type.id">
                <span *ngIf="lang != 'ar'">{{type.nameEN}}</span>
                <span *ngIf="lang == 'ar'">{{type.nameAR}}</span>
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="message" class="form-label">{{'compDetail'|translate}} *</label>
            <textarea rows="4" name="message" id="message" placeholder="Enter your complaint" required="required" class="form-control" [(ngModel)]="complintObj.Comment"></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" (click)="sendComplaint()">
                <i class="fa fa-share-square"></i>{{'sendComplin'|translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>