<!-- Hero Section-->
<section class="hero hero-page gray-bg padding-small">
    <div class="container">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
        <div class="row d-flex">
            <div class="col-lg-9 order-2 order-lg-1">
                <h2>{{'yorOrdrs'|translate}}</h2>
                <p class="lead">{{'yorOrdrsOnPlac'|translate}}</p>
            </div>
            <div class="col-lg-3 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end">
                    <li class="breadcrumb-item">
                        <a routerLink="home">{{'home'|translate}}</a>
                    </li>
                    <li class="breadcrumb-item active">{{'orders'|translate}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="padding-small">
    <div class="container">
        <div class="row">
            <!-- Customer Sidebar-->
            <div class="customer-sidebar col-xl-3 col-lg-4 mb-md-5">
                <div class="customer-profile">
                    <a class="d-inline-block">
                        <img *ngIf="currentUser?.pictureUrl == null" src="assets/img/avater.png" class="img-fluid rounded-circle customer-image">
                        <img *ngIf="currentUser?.pictureUrl != null" [src]="currentUser?.pictureUrl" class="img-fluid rounded-circle customer-image">
                    </a>
                    <h6>{{currentUser?.firstName}} {{currentUser?.lastName}}</h6>
                </div>
                <nav class="list-group customer-nav">
                    <a routerLink="orders" class="active list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            <span class="fa fa-shopping-bag"></span>{{'orders'| translate}}</span>
                        <small class="badge badge-pill badge-light">{{ordersCount}}</small>
                    </a>
                    <a href="#profileMenu" class="list-group-item d-flex justify-content-between align-items-center list-group-item" data-toggle="collapse"
                        data-parent="#profileMenu">
                        <span>
                            <span class="fa fa-user-o"></span>{{'profile'| translate}}</span>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="collapse list-group-submenu list-group-submenu-1" id="profileMenu">
                        <a routerLink="/profile" class="list-group-item d-flex justify-content-between align-items-center list-group-item" data-parent="#profileMenu">{{'view'| translate}}</a>
                        <a routerLink="/changePassword" class="list-group-item d-flex justify-content-between align-items-center list-group-item"
                            data-parent="#profileMenu">{{'changePassword'| translate}}</a>
                    </div>
                    <a routerLink="/addresses" class="list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            <span class="fa fa-map-o"></span>{{'addresses'| translate}}</span>
                    </a>
                    <a routerLink="/complaint" class="list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            <span class="fa fa-file-o"></span>{{'complints'| translate}}</span>
                    </a>
                    <a (click)="logOut()" class="list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            <span class="fa fa-sign-out"></span>{{'logOut'| translate}}</span>
                    </a>
                </nav>
            </div>
            <div class="col-lg-8 col-xl-9 pl-lg-3">
                <table class="table table-hover table-responsive-md">
                    <thead>
                        <tr>
                            <th>{{'ordr'|translate}}</th>
                            <th>{{'dat'|translate}}</th>
                            <th>{{'totl'|translate}}</th>
                            <th>{{'stats'|translate}}</th>
                            <th>{{'action'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of allOrders">
                            <th># {{item.code}}</th>
                            <td>{{item.deliveryDate | date:'d/m/yyyy'}}</td>
                            <td *ngIf="lang != 'ar' ">{{item.price}}</td>
                            <!-- <td *ngIf="lang == 'ar' ">{{item.price}}  {{item.currency.nameAR}}</td> -->
                            <td *ngIf="item.orderStatus.nameEN == 'Pending' ">
                                <span class="badge badge-warning" *ngIf="lang != 'ar' ">{{item.orderStatus.nameEN}}</span>
                                <span class="badge badge-warning" *ngIf="lang == 'ar' ">{{item.orderStatus.nameAR}}</span>
                            </td>
                            <td *ngIf="item.orderStatus.nameEN == 'Placed' ">
                                <span class="badge badge-success" *ngIf="lang != 'ar' ">{{item.orderStatus.nameEN}}</span>
                                <span class="badge badge-success" *ngIf="lang == 'ar' ">{{item.orderStatus.nameAR}}</span>
                            </td>
                            <td *ngIf="item.orderStatus.nameEN == 'Approved By Customer Service' ">
                                <span class="badge badge-success" *ngIf="lang != 'ar' ">{{item.orderStatus.nameEN}}</span>
                                <span class="badge badge-success" *ngIf="lang == 'ar' ">{{item.orderStatus.nameAR}}</span>
                            </td>
                            <td *ngIf="item.orderStatus.nameEN == 'Confirmed By Logistics' ">
                                <span class="badge badge-success" *ngIf="lang != 'ar' ">{{item.orderStatus.nameEN}}</span>
                                <span class="badge badge-success" *ngIf="lang == 'ar' ">{{item.orderStatus.nameAR}}</span>
                            </td>
                            <td *ngIf="item.orderStatus.nameEN == 'In Preparing' ">
                                <span class="badge badge-info" *ngIf="lang != 'ar' ">{{item.orderStatus.nameEN}}</span>
                                <span class="badge badge-info" *ngIf="lang == 'ar' ">{{item.orderStatus.nameAR}}</span>
                            </td>
                            <td *ngIf="item.orderStatus.nameEN == 'On Way' ">
                                <span class="badge badge-warning" *ngIf="lang != 'ar' ">{{item.orderStatus.nameEN}}</span>
                                <span class="badge badge-warning" *ngIf="lang == 'ar' ">{{item.orderStatus.nameAR}}</span>
                            </td>
                            <td *ngIf="item.orderStatus.nameEN == 'Ready To Deliver' ">
                                <span class="badge badge-success" *ngIf="lang != 'ar' ">{{item.orderStatus.nameEN}}</span>
                                <span class="badge badge-success" *ngIf="lang == 'ar' ">{{item.orderStatus.nameAR}}</span>
                            </td>
                            <td *ngIf="item.orderStatus.nameEN == 'Cancelled' ">
                                <span class="badge badge-danger" *ngIf="lang != 'ar' ">{{item.orderStatus.nameEN}}</span>
                                <span class="badge badge-danger" *ngIf="lang == 'ar' ">{{item.orderStatus.nameAR}}</span>
                            </td>
                            <td>
                                <button (click)="viewOrder(item)" class="btn btn-primary btn-sm">{{'view'|translate}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- <mat-paginator #paginator [length]="ordersCount" [pageSize]="10" [pageIndex]="currentPageIdx" (page)="pageChanged($event)"></mat-paginator> -->
        <!-- <ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" (pageChange)="pageChanged($event)" [(page)]="currentPageIdx" [maxSize]="5" [rotate]="true"></ngb-pagination> -->

    </div>
</section>