<body>
  <!-- Hero Section-->
  <section class="hero hero-home no-padding">
    <!-- Hero Slider-->
    <div class="owl-carousel owl-theme hero-slider">
      <div style="background: url(assets/img/mawashi1.jpg)" class="item d-flex align-items-center has-pattern">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 text-white">
              <h1>{{'mawashi'| translate}}</h1>
              <a routerLink="/categories" class="btn btn-template wide shop-now">{{'shopNow'| translate}}
                <i class="fa fa-shopping-bag"> </i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div style="background: url(assets/img/mawashi2.jpg);" class="item d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 text-white">
              <h1>{{'howBegin'|translate}}</h1>
              <p class="lead">{{'aboutDetails'|translate}}</p>
              <a routerLink="/categories" class="btn btn-template wide shop-now">{{'shopNow'| translate}}
                <i class="fa fa-shopping-bag"> </i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div style="background: url(assets/img/mawashi3.jpg);" class="item d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h1>{{'wCre'|translate}}</h1>
              <p class="lead">{{'misinDetil1'|translate}}</p>
              <a routerLink="/categories" class="btn btn-template wide shop-now">{{'shopNow'| translate}}
                <i class="fa fa-shopping-bag"> </i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Categories Section-->
  <section class="categories">
    <div class="container">
      <header class="text-center">
        <h2 class="text-uppercase" style="margin-top: -3%;">
          <small>{{'topOfMonth'| translate}}</small>{{'OurFeaturedPicks'|translate}}</h2>
      </header>
      <div class="row text-left">
        <div class="col-lg-4 category-block" *ngFor="let item of categories">
          <a (click)="viewCategory(item)">
            <div *ngIf="item.pictureURL != null" [ngStyle]="{ 'background-image': 'url(' + item.pictureURL + ')'}" class="item d-flex align-items-end">
              <div class="content-cat">
                <h3 class="h6" *ngIf="lang == 'en' ">{{item.nameEN}}</h3>
                <h3 class="h6" *ngIf="lang != 'en' ">{{item.nameAR}}</h3>
                <span>{{'pickProducts' | translate}}</span>
              </div>
            </div>
            <div *ngIf="item.pictureURL == null" style="background-image: url(assets/img/boxes.jpg)" class="item d-flex align-items-end">
              <div class="content-cat">
                <h3 class="h6" *ngIf="lang == 'en' ">{{item.nameEN}}</h3>
                <h3 class="h6" *ngIf="lang != 'en' ">{{item.nameAR}}</h3>
                <span>{{'pickProducts' | translate}}</span>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
  </section>

  <section id="ads" class="ads" style="display:none;">
    <div class="modal-body" dir="{{ 'dir' | translate }}" [class.rtl]="('dir' | translate) === 'rtl'">
      <button type="button" (click)="dialogClose()" data-dismiss="modal" aria-label="Close" class="close dialogClose" style="z-index:1006;margin-right:24px;margin-top:-17px;">
          <span aria-hidden="true">
              <i class="fa fa-times"></i>
          </span>
      </button>
      <div class="row">
          <ngx-gallery [options]="galleryOptions" [images]="ads" class="img-fluid img-responsive"></ngx-gallery>
      </div>
  </div>
  </section>
</body>