  <p>{{ title }}</p>
        <p>{{ message }}</p>
        <button type="button" mat-raised-button 
            (click)="dialogRef.close(true)">OK</button>
        <button type="button" (click)="dialogRef.close(false)" *ngIf="cancelButton" mat-button>Cancel</button>