<div class="modal-body" dir="{{ 'dir' | translate }}" [class.rtl]="('dir' | translate) === 'rtl'">
    <!-- Overview Popup    -->
    <button type="button" (click)="dialogRef.close()" data-dismiss="modal" aria-label="Close" class="close dialogClose" style="z-index:1006;">
        <span aria-hidden="true">
            <i class="fa fa-times"></i>
        </span>
    </button>
    <div class="row">
        <ngx-gallery [options]="galleryOptions" [images]="ads" class="img-fluid img-responsive"></ngx-gallery>
    </div>
</div>