<div class="customer-sidebar col-xl-3 col-lg-4 mb-md-5">
    <div class="customer-profile">
      <a class="d-inline-block">
        <img *ngIf="currentUser?.pictureUrl == null" src="assets/img/avater.png" class="img-fluid rounded-circle customer-image">
        <img *ngIf="currentUser?.pictureUrl != null" [src]="currentUser?.pictureUrl" class="img-fluid rounded-circle customer-image">
      </a>
      <h6>{{currentUser?.firstName}} {{currentUser?.lastName}}</h6>
    </div>
    <nav class="list-group customer-nav">
      <a routerLink="/orders" class="list-group-item d-flex justify-content-between align-items-center">
        <span>
          <span class="fa fa-shopping-bag"></span>{{'orders'| translate}}</span>
        <small class="badge badge-pill badge-light">{{ordersCount}}</small>
      </a>

      <a href="#profileMenu" class="active list-group-item d-flex justify-content-between align-items-center list-group-item" data-toggle="collapse"
        data-parent="#profileMenu">
        <span>
          <span class="fa fa-user-o"></span>{{'profile'| translate}}</span>
        <i class="fa fa-caret-down"></i>
      </a>
      <div class="collapse list-group-submenu list-group-submenu-1" id="profileMenu">
          <a routerLink="/profile" class="list-group-item d-flex justify-content-between align-items-center list-group-item" data-parent="#profileMenu">{{'view'| translate}}</a>
          <a routerLink="/changePassword" class="list-group-item d-flex justify-content-between align-items-center list-group-item"
              data-parent="#profileMenu">{{'changePassword'| translate}}</a>
      </div>
      <a routerLink="/addresses" class="list-group-item d-flex justify-content-between align-items-center">
        <span>
          <span class="fa fa-map-o"></span>{{'addresses'| translate}}</span>
      </a>
      <a routerLink="/complaint" class="list-group-item d-flex justify-content-between align-items-center">
        <span>
            <span class="fa fa-file-o"></span>{{'complints'| translate}}</span>
      </a>
      <a routerLink="/categories" class="list-group-item d-flex justify-content-between align-items-center">
        <span>
          <span class="fa fa-sign-out"></span>{{'logOut'| translate}}</span>
      </a>
    </nav>
  </div>