<!-- Hero Section-->
<section class="hero hero-page gray-bg padding-small">
    <div class="container">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
        <div class="row d-flex">
            <div class="col-lg-9 order-2 order-lg-1">
                <h2>{{'ordr'|translate}} #{{orderDetails.code}}</h2>
                <p class="lead">{{'ordr'|translate}} #{{orderDetails.code}} was placed on
                    <strong>{{orderDetails.deliveryDate | date: 'dd/MM/yyyy'}}</strong> and is currently
                    <strong>Being prepared</strong>.</p>
                <p class="text-muted">If you have any questions, please feel free to
                    <a routerLink="/contact">contact us</a>, our customer service center is working for you 24/7.</p>
            </div>
            <div class="col-lg-3 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end">
                    <li class="breadcrumb-item">
                        <a routerLink="home">{{'home'|translate}}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="orders">{{'orders'|translate}}</a>
                    </li>
                    <li class="breadcrumb-item active">{{'ordr'|translate}} #{{orderDetails.code}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="padding-small">
    <div class="container">
        <div class="row">
            <!-- Customer Sidebar-->
            <div class="customer-sidebar col-xl-3 col-lg-4 mb-md-5">
                <div class="customer-profile">
                    <a class="d-inline-block">
                        <img *ngIf="currentUser?.pictureUrl == null" src="assets/img/avater.png" class="img-fluid rounded-circle customer-image">
                        <img *ngIf="currentUser?.pictureUrl != null" [src]="currentUser?.pictureUrl" class="img-fluid rounded-circle customer-image">
                    </a>
                    <h6>{{currentUser?.firstName}} {{currentUser?.lastName}}</h6>
                </div>
                <nav class="list-group customer-nav">
                    <a routerLink="orders" class="active list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            <span class="fa fa-shopping-bag"></span>{{'prders'| translate}}</span>
                        <small class="badge badge-pill badge-light">{{ordersCount}}</small>
                    </a>
                    <a href="#profileMenu" class="list-group-item d-flex justify-content-between align-items-center list-group-item" data-toggle="collapse"
                        data-parent="#profileMenu">
                        <span>
                            <span class="fa fa-user-o"></span>{{'profile'| translate}}</span>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="collapse list-group-submenu list-group-submenu-1" id="profileMenu">
                        <a routerLink="/profile" class="list-group-item d-flex justify-content-between align-items-center list-group-item" data-parent="#profileMenu">{{'view'| translate}}</a>
                        <a routerLink="/changePassword" class="list-group-item d-flex justify-content-between align-items-center list-group-item"
                            data-parent="#profileMenu">{{'changePassword'| translate}}</a>
                    </div>
                    <a routerLink="/addresses" class="list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            <span class="fa fa-map-o"></span>{{'addresses'| translate}}</span>
                    </a>
                    <a routerLink="/complaint" class="list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            <span class="fa fa-file-o"></span>{{'complints'| translate}}</span>
                    </a>
                    <a (click)="logOut()" class="list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            <span class="fa fa-sign-out"></span>{{'logOut'| translate}}</span>
                    </a>
                </nav>
            </div>
            <div class="col-lg-8 col-xl-9 pl-lg-3">
                <div class="basket basket-customer-order">
                    <div class="basket-holder">
                        <div class="basket-header">
                            <div class="row">
                                <div class="col-6">{{'prdct'|translate}}</div>
                                <div class="col-2">{{'pric'|translate}}</div>
                                <div class="col-2">{{'quant'|translate}}</div>
                                <div class="col-2 text-right">{{'totl'|translate}}</div>
                            </div>
                        </div>
                        <div class="basket-body">
                            <!-- Product-->
                            <div class="item" *ngFor="let item of orderDetails?.cart?.cartItems">
                                <div class="row d-flex align-items-center">
                                    <div class="col-6">
                                        <div class="d-flex align-items-center">
                                            <img *ngIf="item?.item?.pictureURL == null" src="assets/img/products/p1.png" alt="product" class="img-fluid">
                                            <img *ngIf="item?.item?.pictureURL" [src]="item.item.pictureURL" alt="product" class="img-fluid">
                                            <div class="title">
                                                <a routerLink="categories/detail">
                                                    <h5 *ngIf="lang != 'ar' ">{{item?.item?.nameEN}}</h5>
                                                    <h5 *ngIf="lang == 'ar' ">{{item?.item?.nameAR}}</h5>
                                                    <span class="text-muted">{{'wit'|translate}}: {{item?.item?.weight}}</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <span>{{item?.item?.price}} {{item?.item?.currency?.nameEN}}</span>
                                    </div>
                                    <div class="col-2">{{item?.quantity?.id}}</div>
                                    <div class="col-2 text-right">
                                        <span>{{item?.price}} {{item?.item?.currency?.nameEN}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="basket-footer">
                            <div class="item">
                                <div class="row">
                                    <div class="offset-md-6 col-4">
                                        <strong>{{'orderSubTotl'|translate}}</strong>
                                    </div>
                                    <div class="col-2 text-right">
                                        <strong>{{orderDetails.priceExcludedVat}}</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="offset-md-6 col-4">
                                        <strong>{{'shipHandling'|translate}}</strong>
                                    </div>
                                    <div class="col-2 text-right">
                                        <strong>{{orderDetails.deliveryFees}}</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="offset-md-6 col-4">
                                        <strong>{{'txs'|translate}}</strong>
                                    </div>
                                    <div class="col-2 text-right">
                                        <strong>{{orderDetails.vatValue}}</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="offset-md-6 col-4">
                                        <strong>{{'totl'|translate}}</strong>
                                    </div>
                                    <div class="col-2 text-right">
                                        <strong>{{orderDetails.price}}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row addresses">
                    <div class="col-sm-6">
                        <div class="block-header">
                            <h6 class="text-uppercase">{{'shipAdrss'|translate}}</h6>
                        </div>
                        <div class="block-body">
                            <p>{{orderDetails?.name}}
                                <br> {{orderDetails?.appartmentNumber}}/{{orderDetails?.floor}} building {{orderDetails?.building}}
                                <br> {{orderDetails?.streetName}}
                                <br> {{orderDetails?.blockName}}
                                <br> {{orderDetails?.areaName}}
                                <br> {{orderDetails?.governorateName}}</p>
                        </div>
                    </div>
                </div>
                <!-- /.addresses -->
            </div>
        </div>
    </div>
</section>