<div class="itemDialog modal-body" dir="{{ 'dir' | translate }}" [class.rtl]="('dir' | translate) === 'rtl'">
    <!-- Overview Popup    -->
    <button type="button" (click)="dialogRef.close()" data-dismiss="modal" aria-label="Close" class="close dialogClose">
        <span aria-hidden="true">
            <i class="fa fa-times"></i>
        </span>
    </button>

    <!-- <div class="ribbon-primary text-uppercase">Sale</div> -->

    <div class="">
        <div class="row d-flex align-items-center">
            <div class="image col-lg-4">
                <img *ngIf="data.pictureURL == null" src="assets/img/products/p1.png" alt="product" class="img-fluid d-block">
                <img *ngIf="data.pictureURL" [src]="data.pictureURL" alt="product" class="img-fluid d-block">
            </div>
            <div class="details col-lg-8">
                <h3 *ngIf="lang != 'ar' ">{{data.nameEN}}</h3>
                <h3 *ngIf="lang == 'ar' ">{{data.nameAR}}</h3>
                <ul class="price list-inline">
                    <li class="list-inline-item current" *ngIf="lang != 'ar' ">{{data.finalPrice}} {{data.currency.nameEN}}</li>
                    <li class="list-inline-item current" *ngIf="lang == 'ar' ">{{data.finalPrice}} {{data.currency.nameAR}}</li>
                </ul>
                <p *ngIf="lang != 'ar' ">{{data.descriptionEN}}</p>
                <p *ngIf="lang == 'ar' ">{{data.descriptionAR}}</p>
                <form novalidate [formGroup]="form">
                    <div class="d-flex align-items-center">
                        <div class="form-group col-md-6" *ngIf="productDetailes.quantities?.length > 0">
                            <label class="form-label">{{'quantity' |translate}}</label>
                            <select  id="sorting" class="bs-select form-control" name="quantityNum" [(ngModel)]="quantityNum" formControlName="quantityNum">
                                <option [disabled]="true" [selected]="true">Select One</option>
                                <option *ngFor="let quant of productDetailes.quantities" [ngValue]="quant.quantity">
                                    <span *ngIf="lang != 'ar' ">{{quant?.quantity?.nameEN}}</span>
                                    <span *ngIf="lang == 'ar' ">{{quant?.quantity?.nameAR}}</span>
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-6" *ngIf="productDetailes.cuttings?.length > 0">
                            <label class="form-label">{{'cutting' |translate}}</label>
                            <select id="sorting" class="bs-select form-control" name="pieceNum" [(ngModel)]="pieceNum" formControlName="pieceNum">
                                <option [disabled]="true" [selected]="true">Select One</option>
                                <option *ngFor="let cut of productDetailes.cuttings" [ngValue]="cut.cutting">
                                    <span *ngIf="lang != 'ar' ">{{cut?.cutting?.nameEN}}</span>
                                    <span *ngIf="lang == 'ar' ">{{cut?.cutting?.nameAR}}</span>
                                </option>
                            </select>
                        </div>
                    </div>
                </form>

                <ul class="CTAs list-inline">
                    <li class="list-inline-item">
                        <button (click)="addProductToCart(data,pieceNum,quantityNum)" class="btn btn-template wide" [disabled]="!quantityNum">
                            <i class="fa fa-shopping-cart"></i>{{'addtoCart' | translate}}</button>
                    </li>
                    <!-- <li class="list-inline-item">
                        <a href="" class="visit-product active btn btn-template-outlined wide">
                            <i class="fa fa-heart"></i>{{'addtowishlist' | translate}}</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>


<style>
    .mat-dialog-container {
        background: transparent !important;
        color: rgba(0, 0, 0, .87) !important;
        padding: 12px !important
    }
</style>