<!-- Hero Section-->
<section class="hero hero-page gray-bg padding-small">
  <div class="container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="row d-flex">
      <div class="col-lg-9 order-2 order-lg-1">
        <h3>{{'checkout'|translate}}</h3>
        <p class="lead">{{'uCurntHv'|translate}} {{cartResultLength}} {{'itmInBaskt'|translate}}</p>
      </div>
      <div class="col-lg-3 text-right order-1 order-lg-2">
        <ul class="breadcrumb justify-content-lg-end">
          <li class="breadcrumb-item">
            <a routerLink="home">{{'home'|translate}}</a>
          </li>
          <li class="breadcrumb-item active">{{'checkout'|translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Checkout Forms-->
<section class="checkout">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a routerLink="/checkOut/checkOutAddress" class="nav-link active">Address</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Delivery Method </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Payment Method </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Order Review</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="address" class="active tab-block">
            <!-- Invoice Address-->
            <div id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel card" *ngFor="let item of deliveryOptions">
                <div class="panel-heading card-header" role="tab">
                  <h4 class="panel-title">
                    <mat-radio-group class="example-radio-group" [(ngModel)]="shearedS.deliveryTypeId">
                      <mat-radio-button role="button" data-toggle="collapse" data-parent="#accordion" [attr.data-target]=" '#' + item.id" aria-expanded="true"
                        aria-controls="collapseOne" class="example-radio-button form-group addressCheckout" (click)="getLocations_Dates(item.id)"
                        name="deliveryTypeId" [value]="item.id">
                        {{item.name}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </h4>
                </div>
                <div [attr.id]="item.id" class="panel-collapse collapse" role="tabpanel">
                  <div class="panel-body card-body">
                    <p *ngIf="!country || country == null">please select country first</p>
                    <div class="shipping-form">
                      <div class="row" *ngIf="country">
                        <p *ngIf="deliveryConfigPostResult?.locations?.length == 0">you don't have any addresses location you should add new one</p>
                        <mat-radio-group class="example-radio-group" [(ngModel)]="shearedS.locationId">
                          <mat-radio-button class="example-radio-button form-group col-md-6" *ngFor="let loc of deliveryConfigPostResult.locations"
                            [value]="loc.id" name="addressId">
                              <strong>{{loc.name}}</strong>
                              <br>
                              <span class="label-description">{{loc.blockName}}, {{loc.streetName}}
                                <br> {{loc.areaName}}, {{loc.governorateName}}.</span>
                          </mat-radio-button>
                        </mat-radio-group>
                      </div>
                      <div class="row" style="margin-top:5%">
                        <div class="col-lg-8" *ngIf="deliveryConfigPostResult.dates != null">
                          <label class="form-label">Select Date</label>
                          <select id="product-size" class="bs-select form-control" name="selectedDeliveryDate" [(ngModel)]="shearedS.deliveryDate">
                              <option [disabled]="true" [selected]="true">Select Date</option>
                            <option *ngFor="let date of deliveryConfigPostResult.dates" [ngValue]="date.date">
                              {{date.nameEN}}
                            </option>
                          </select>
                        </div>
                        <div class="col-lg-7" *ngIf="deliveryConfigPostResult.dates == null || deliveryConfigPostResult.dates == [] || !deliveryConfigPostResult.dates">
                          <mat-form-field class="example-full-width col-md-10">
                            <input matInput class="form-control" [min]="minDate" [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="shearedS.deliveryDate"
                              required readonly (click)="picker.open()" [value]="shearedS.deliveryDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="CTAs d-flex justify-content-between flex-column flex-lg-row">
              <a routerLink="/cart" class="btn btn-template-outlined wide prev">
                <i *ngIf="lang != 'ar' " class="fa fa-angle-left"></i>
                <i *ngIf="lang == 'ar' " class="fa fa-angle-right"></i>{{'bakToBskt'|translate}}</a>
              <button (click)="submitLocation_Date()" class="btn btn-template wide next" [disabled]="!shearedS.locationId">{{'chosDlivryMethod'|translate}}
                <i *ngIf="lang != 'ar' " class="fa fa-angle-right"></i>
                <i *ngIf="lang == 'ar' " class="fa fa-angle-left"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <app-orderSummary></app-orderSummary>
      </div>
    </div>
  </div>
</section>