<!-- Hero Section-->
<section class="hero hero-page gray-bg padding-small">
  <div class="container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="row d-flex">
      <div class="col-lg-9 order-2 order-lg-1">
        <h3>{{'yourProfile'|translate}}</h3>
      </div>
      <div class="col-lg-3 text-right order-1 order-lg-2">
        <ul class="breadcrumb justify-content-lg-end">
          <li class="breadcrumb-item">
            <a routerLink="home">{{'home'|translate}}</a>
          </li>
          <li class="breadcrumb-item active">{{'yourProfile'|translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="padding-small">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>
              <h5>{{'forgetPassword' | translate}}</h5>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <hr>

            <form class="content-block">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="form-label">{{'email'| translate}}</label>
                    <input type="text" class="form-control" name="userName" [(ngModel)]="userName">
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary" (click)="generateForgetPasswordToken()" [disabled]="!userName">
                  <i class="fa fa-save"></i>{{'snd'| translate}}</button>
              </div>
            </form>
            <form class="content-block" *ngIf="showForgetDiv">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="form-label">{{'newpass'| translate}}</label>
                    <input type="password" class="form-control" name="newPassword" [(ngModel)]="passObj.newPassword">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="form-label">{{'token'| translate}}</label>
                    <input type="text" class="form-control" name="token" [(ngModel)]="passObj.code">
                  </div>
                </div>
              </div>
              <!-- /.row-->
              <div class="text-center">
                <button type="submit" class="btn btn-primary" (click)="changePass()" [disabled]="!passObj.code || !passObj.newPassword">
                  <i class="fa fa-save"></i>{{'submt'| translate}}</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>