<section class="hero hero-page gray-bg padding-small">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-9 order-2 order-lg-1">
                <h3>{{'financeDept' |translate}}</h3>
            </div>
            <div class="col-lg-3 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end">
                    <li class="breadcrumb-item">
                        <a routerLink="home">{{'home' |translate}}</a>
                    </li>
                    <li class="breadcrumb-item active">{{'financeDept' |translate}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="padding-small">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10">
                <header>
                    <p class="lead">
                        {{'financeTitle' | translate}}
                    </p>
                </header>
                <div class="text-content">
                    <p>
                        <img src="assets/img/finance.jpg" alt="Example blog post alt" class="img-fluid">
                    </p>

                    <p>{{'financeSubTitle' | translate}}</p>
                    <ul>
                        <li><strong>{{'financeStrg' | translate}}</strong> {{'financeStrgDetails'| translate}}</li>
                        <li><strong>{{'financeQuality' | translate}}</strong> {{'financeQualityDetails'| translate}}</li>
                        <li><strong>{{'financeDision' | translate}}</strong> {{'financeDisionDetails'| translate}}</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>