<!-- Hero Section-->
<section class="hero hero-page gray-bg padding-small">
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-9 order-2 order-lg-1">
        <h2>{{'custZone' | translate }}</h2>
      </div>
      <div class="col-lg-3 text-right order-1 order-lg-2">
        <ul class="breadcrumb justify-content-lg-end">
          <li class="breadcrumb-item">
            <a routerLink="home">{{'home' | translate}}</a>
          </li>
          <li class="breadcrumb-item active">{{'custZone' | translate }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- text page-->
<section class="padding-small">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8">
          <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title><h5>{{'login' | translate}}</h5></mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <hr>
                <form>
                  <div class="form-group">
                    <label class="form-label">{{'email' | translate}}</label>
                    <input type="text" class="form-control" name="userNamme" [(ngModel)]="loginObj.userName">
                  </div>
                  <div class="form-group">
                    <label for="password" class="form-label">{{'password' | translate}}</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="loginObj.password">
                  </div>
                  <div class="form-group">
                    <a routerLink="/SignUp" class="form-label">
                      <i class="fa fa-user"></i>
                      {{'registerAsk' | translate}}
                    </a>
                  </div>
                  <div class="form-group">
                    <a routerLink="/forgetPassword" class="form-label">
                      <i class="fa fa-user"></i>
                      {{'forgetPassAsk' | translate}}
                    </a>
                  </div>
                  <div class="form-group text-center">
                    <button type="submit" [disabled]="loading" class="btn btn-primary" (click)="loginUser()">
                      <i class="fa fa-sign-in"></i> {{'login' | translate}}
                      <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
                    </button>
                  </div>
                </form>
              </mat-card-content>
            </mat-card>
        <!-- <div class="block">
          <div class="block-header">
            <h5>{{'login' | translate}}</h5>
          </div>
          <div class="block-body">
            <p class="lead">{{'alreadyCust' | translate }}</p>
            <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
              quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
              ultricies mi vitae est. Mauris placerat eleifend leo.</p>
            <hr>
            <form>
              <div class="form-group">
                <label class="form-label">{{'userName' | translate}}</label>
                <input type="text" class="form-control" name="userNamme" [(ngModel)]="loginObj.userName">
              </div>
              <div class="form-group">
                <label for="password" class="form-label">{{'password' | translate}}</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="loginObj.password">
              </div>
              <div class="form-group">
                <a routerLink="/SignUp" class="form-label">
                  <i class="fa fa-user"></i>
                  {{'registerAsk' | translate}}
                </a>
              </div>
              <div class="form-group text-center">
                <button type="submit" [disabled]="loading" class="btn btn-primary" (click)="loginUser()">
                  <i class="fa fa-sign-in"></i> {{'login' | translate}}
                  <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
                </button>
              </div>
            </form>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>