<!-- Hero Section-->
<section class="hero hero-page gray-bg padding-small">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-9 order-2 order-lg-1">
                <h2>{{'custZone' | translate }}</h2>
            </div>
            <div class="col-lg-3 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end">
                    <li class="breadcrumb-item">
                        <a routerLink="home">{{'home' | translate}}</a>
                    </li>
                    <li class="breadcrumb-item active">{{'custZone' | translate }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- text page-->
<section class="padding-small">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8">
                <div class="block">
                    <div class="block-header">
                        <h5>{{'newAccount' | translate}}</h5>
                    </div>
                    <div class="block-body">
                        <p class="text-muted">If you have any questions, please feel free to
                            <a routerLink="/contact">contact us</a>, our customer service center is working for you 24/7.</p>
                        <hr>
                        <form [formGroup]="myForm" novalidate>
                            <!-- <div class="form-group">
                                <label class="form-label">{{'userName' | translate}}</label>
                                <input type="text" class="form-control" name="userNamme" [(ngModel)]="registerObj.userName" formControlName="userName">
                            </div> -->
                            <div class="form-group">
                                <label for="email" class="form-label">{{'email' | translate}}</label>
                                <input type="text" class="form-control" name="email" [(ngModel)]="registerObj.email" formControlName="email" placeholder="example@amanha.com">
                            </div>
                            <div class="form-group">
                                <label class="form-label">{{'firstName' | translate}}</label>
                                <input type="text" class="form-control" name="firstName" [(ngModel)]="registerObj.firstName" formControlName="firstName">
                            </div>
                            <div class="form-group">
                                <label class="form-label">{{'lstName' | translate}}</label>
                                <input type="text" class="form-control" name="lastName" [(ngModel)]="registerObj.lastName" formControlName="lastName">
                            </div>
                            <div class="form-group">
                                <label class="form-label">{{'password' | translate}}</label>
                                <input type="password" id="password" class="form-control" name="password" [(ngModel)]="registerObj.password" placeholder="P@ssw0rd" formControlName="password"
                                    minlength="8" maxlength="30" #password required>
                               <ng2-password-strength-bar
                                   [passwordToCheck]="registerObj.password"
                                   [barLabel]="barLabel"
                                   [barColors]="myColors">
                               </ng2-password-strength-bar>
                            </div>
                            <div class="form-group" *ngIf="this.country == '1'">
                                    <label class="form-label">{{'phone' | translate}}</label>
                                    <div class="form-inline">
                                        <input type="text" class="form-control col-sm-2" name="phoneCode" [(ngModel)]="phoneCode" formControlName="phoneCode">
                                        <div class="col-sm-10">
                                            <input type="tel" class="form-control" name="phoneKw" [(ngModel)]="registerObj.phone1" style="width:100%;" minlength="8" maxlength="8"
                                                formControlName="phoneKw" (keypress)="keyPress($event);keyPressNegative($event)">
                                        </div>
                                    </div>
                                    <div *ngIf="myForm.controls.phoneKw.errors?.minlength" style="color: brown">
                                        phone must be exact 8 characters long.
                                    </div>
                                </div>
                            <div class="form-group" *ngIf="this.country == '2'">
                                <label class="form-label">{{'phone' | translate}}</label>
                                <div class="form-inline">
                                    <input type="text" class="form-control col-sm-2" name="phoneCode" [(ngModel)]="phoneCode" formControlName="phoneCode">
                                    <div class="col-sm-10">
                                        <input type="tel" class="form-control" name="phoneUae" [(ngModel)]="registerObj.phone1" style="width:100%;" minlength="9" maxlength="9"
                                            formControlName="phoneUae" (keypress)="keyPress($event);keyPressNegative($event)">
                                    </div>
                                </div>
                                <div *ngIf="myForm.controls.phoneUae.errors?.minlength" style="color: brown">
                                    phone must be exact 9 characters long.
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">{{'pic' | translate}}</label>
                                <input type="file" class="form-control" name="picture" (change)="onFileChange($event)" #fileInput formControlName="picture">
                                <button type="button" class="btn btn-sm btn-default pull-right clearPic" (click)="clearFile()">clear file</button>
                            </div>
                            <div class="form-group text-center">

                                <button type="submit" class="btn btn-primary" (click)="registerCustomer()" *ngIf="this.country == '1'"
                                    [disabled]="loading || myForm.controls.phoneKw.errors?.minlength || myForm.controls.password.errors?.minlength || !registerObj.email
                                        || !registerObj.firstName || !registerObj.lastName || !registerObj.password || !registerObj.phone1">
                                    <i class="fa fa-user"></i> {{'register' | translate}}
                                    <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
                                </button>
                                <button type="submit" class="btn btn-primary" (click)="registerCustomer()" *ngIf="this.country == '2'"
                                    [disabled]="loading || myForm.controls.phoneUae.errors?.minlength || myForm.controls.password.errors?.minlength || !registerObj.email
                                        || !registerObj.firstName || !registerObj.lastName || !registerObj.password || !registerObj.phone1">
                                    <i class="fa fa-user"></i> {{'register' | translate}}
                                    <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>