<div class="itemDialog modal-body" dir="{{ 'dir' | translate }}" [class.rtl]="('dir' | translate) === 'rtl'">
    <!-- Overview Popup    -->
    <button type="button" (click)="dialogRef.close()" data-dismiss="modal" aria-label="Close" class="close dialogClose">
        <span aria-hidden="true">
            <i class="fa fa-times"></i>
        </span>
    </button>

    <div class="row" *ngIf="country == 2">
        <div class="form-group col-md-6">
            <label class="form-label">{{'numMkani'|translate}}</label>
            <input type="text" name="locationNum" placeholder="{{'numMkani'|translate}}" class="form-control" (keyup.enter)="getLocationByMakaniNumber(locationMkaniNum,$event)"
                [(ngModel)]="locationMkaniNum" autocomplete="off" (change)="getLocationByMakaniNumber(locationMkaniNum)">
        </div>
        <div class="form-group col-md-12">
            <label for="lastname" class="form-label">Name
                <span style="color:red">*</span>
            </label>
            <input type="text" name="name" placeholder="lacatiion name" class="form-control" [(ngModel)]="addressName" required>
        </div>

        <div class="form-group col-md-6">
            <label class="form-label">Governorate</label>
            <input type="text" name="gov" placeholder="Governorate" class="form-control" [(ngModel)]="locationMkaniResult.governorate.name">
        </div>
        <div class="form-group col-md-6">
            <label class="form-label">Area</label>
            <input type="text" name="area" placeholder="Area" class="form-control" [(ngModel)]=" locationMkaniResult.area.name">
        </div>
        <div class="form-group col-md-4">
            <label for="city" class="form-label">Block</label>
            <input type="text" name="block" placeholder="Block" class="form-control" [(ngModel)]="locationMkaniResult.block.name">
        </div>
        <div class="form-group col-md-8">
            <label for="zip" class="form-label">Street</label>
            <input type="text" name="street" placeholder="Street" class="form-control" [(ngModel)]="locationMkaniResult.street.name">
        </div>
        <div class="form-group col-md-4">
            <label for="zip" class="form-label">{{'build'|translate}}</label>
            <input type="text" name="building" placeholder="Building" class="form-control" [(ngModel)]="locationMkaniResult.building">
        </div>
        <div class="form-group col-md-4">
            <label for="zip" class="form-label">{{'floor'|translate}}</label>
            <input type="text" name="floor" placeholder="Floor" class="form-control" [(ngModel)]="locationMkaniResult.floor">
        </div>
        <div class="form-group col-md-4">
            <label for="zip" class="form-label">{{'apartNumber'|translate}}</label>
            <input type="text" name="appartmentNumber" placeholder="Apartment" class="form-control" [(ngModel)]="locationMkaniResult.appartmentNumber">
        </div>
        <div class="form-group col-md-8">
            <label for="zip" class="form-label">{{'note'|translate}}</label>
            <textarea rows="2"  placeholder="Note" class="form-control" [(ngModel)]="locationMkaniResult.deliveryNote"></textarea>
        </div>

        <div class="col-12">
            <!-- <h6>Location: Lat {{latitude}}, Long {{longitude}}</h6> -->
            <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
            </agm-map>
        </div>
    </div>


    <div class="row" *ngIf="country == '1'">
        <div class="form-group col-md-6">
            <label class="form-label">{{'numPaci'|translate}}</label>
            <input type="text" name="locationNum" placeholder="{{'numPaci'|translate}}" class="form-control" (change)="getLocationByPaciNUmNew(locationPaciNum)"
                [(ngModel)]="locationPaciNum">
        </div>
        <div class="form-group col-md-12">
            <label for="lastname" class="form-label">{{'name'|translate}}
                <span style="color:red">*</span>
            </label>
            <input type="text" name="name" placeholder="lacatiion name" class="form-control" [(ngModel)]="addressName" required>
        </div>

        <div class="form-group col-md-6">
            <label class="form-label">{{'gov'|translate}}</label>
            <input type="text" name="gov" placeholder="Governorate" class="form-control" [(ngModel)]="locationPaciResult.governorate.name">
        </div>
        <div class="form-group col-md-6">
            <label class="form-label">{{'area'|translate}}</label>
            <input type="text" name="area" placeholder="Area" class="form-control" [(ngModel)]=" locationPaciResult.area.name">
        </div>
        <div class="form-group col-md-4">
            <label for="city" class="form-label">{{'block'|translate}}</label>
            <input type="text" name="block" placeholder="Block" class="form-control" [(ngModel)]="locationPaciResult.block.name">
        </div>
        <div class="form-group col-md-8">
            <label for="zip" class="form-label">{{'street'|translate}}</label>
            <input type="text" name="street" placeholder="Street" class="form-control" [(ngModel)]="locationPaciResult.street.name">
        </div>
        <div class="form-group col-md-4">
            <label for="zip" class="form-label">{{'build'|translate}}</label>
            <input type="text" name="building" placeholder="Building" class="form-control" [(ngModel)]="locationPaciResult.building">
        </div>
        <div class="form-group col-md-4">
            <label for="zip" class="form-label">{{'floor'|translate}}</label>
            <input type="text" name="floor" placeholder="Floor" class="form-control" [(ngModel)]="locationPaciResult.floor">
        </div>
        <div class="form-group col-md-4">
            <label for="zip" class="form-label">{{'apartNumber'|translate}}</label>
            <input type="text" name="appartmentNumber" placeholder="Apartment" class="form-control" [(ngModel)]="locationPaciResult.appartmentNumber">
        </div>
        <div class="form-group col-md-8">
            <label for="zip" class="form-label">{{'note'|translate}}</label>
            <textarea rows="2"  placeholder="Note" class="form-control" [(ngModel)]="locationPaciResult.deliveryNote"></textarea>
        </div>

        <div class="col-12">
            <!-- <h6>Location: Lat {{latitude}}, Long {{longitude}}</h6> -->
            <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
            </agm-map>
        </div>
    </div>



    <!-- <div class="row" *ngIf="country == '1'">
        <div class="form-group col-md-6">
            <label class="form-label">{{'numPaci'|translate}}</label>
            <input type="text" name="locationNum" placeholder="{{'numPaci'|translate}}" class="form-control" (change)="getLocationByPaciNUm(locationPaciNum)"
                [(ngModel)]="locationPaciNum">
        </div>
        <div class="form-group col-md-12">
            <label for="lastname" class="form-label">{{'name'|translate}} <span style="color:red">*</span></label>
            <input type="text" name="name" placeholder="lacatiion name" class="form-control" [(ngModel)]="addressName" required>
        </div>
        <div class="form-group col-md-6">
            <label class="form-label">{{'gov'|translate}}</label>
            <select id="sorting" class="form-control" name="governorate" [(ngModel)]="governorateId" (change)="getAllAreas(governorateId)" placeholder="select one">
                <option value="" disabled selected>- Select One -</option>
                <option *ngFor="let gov of governorates" [value]="gov.id">
                    {{gov.name}}
                </option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label class="form-label">{{'area'|translate}}</label>
            <select id="sorting" class="form-control" name="area" [(ngModel)]="areaId" (change)="getAllBlocks(areaId)">
                <option value="" disabled selected>- Select One -</option>
                <option *ngFor="let area of areas" [value]="area.id">
                    {{area.name}}
                </option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="city" class="form-label">{{'block'|translate}}</label>
            <select id="sorting" class="form-control" name="block" [(ngModel)]="blockId" (change)="getAllStreets(governorateId,areaId,blockId)">
                <option value="" disabled selected>- Select One -</option>
                <option *ngFor="let block of blocks" [value]="block.id">
                    {{block.name}}
                </option>
            </select>
        </div>
        <div class="form-group col-md-8">
            <label for="zip" class="form-label">{{'street'|translate}}</label>
            <select id="sorting" class="form-control" name="street" [(ngModel)]="streetId">
                <option value="" disabled selected>- Select One -</option>
                <option *ngFor="let street of streets" [value]="street.id">
                    {{street.name}}
                </option>
            </select>
        </div>

        <div class="col-12">
            <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
            </agm-map>
        </div>
    </div> -->

    <div class="row">
        <div class="form-group col-12 mt-3">
            <button type="submit" class="btn btn-template wide" (click)="addEditAddress()" [disabled]="!addressName">
                <i class="fa fa-save"></i>{{'saveChange'|translate}}</button>
        </div>
    </div>

</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>