<!-- Hero Section-->
<section class="hero hero-page gray-bg padding-small">
        <div class="container">
          <div class="row d-flex">
            <div class="col-lg-9 order-2 order-lg-1">
              <h3>Product Details</h3>
            </div>
            <div class="col-lg-3 text-right order-1 order-lg-2">
              <ul class="breadcrumb justify-content-lg-end">
                <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="/categories/liveStock">Stock</a></li>
                <li class="breadcrumb-item active">Product Details</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="product-details">
        <div class="container">
          <div class="row">
            <div class="product-images col-lg-6">
              <div class="ribbon-info text-uppercase">Fresh</div>
              <div class="ribbon-primary text-uppercase">Sale</div>
                <!-- <owl-carousel [options]="{navigation: true, pagination: true, rewindNav : true, autoplay: true, items: 1}">
                  <div *ngFor="let img of images">
                    <img src="{{img}}" width="200"/>
                  </div>
                </owl-carousel> -->

              <div data-slider-id="1" class="owl-carousel owl-theme owl-drag">
                  <div class="item" *ngFor="let img of images">
                      <img src="{{img}}" alt="veal">
                  </div>
              </div>
              <div data-slider-id="1" class="owl-thumbs d-flex align-items-center justify-content-center">
                <button class="owl-thumb-item active"><img src="../../../assets/img/products/p1.png" alt="veal"></button>
                <button class="owl-thumb-item"><img src="../../../assets/img/products/p4.png" alt="veal"></button>
                <button class="owl-thumb-item"><img src="../../../assets/img/products/p9.png" alt="veal"></button>
                <button class="owl-thumb-item"><img src="../../../assets/img/products/p6.png" alt="veal"></button>
              </div>
            </div>
            <div class="details col-lg-6">
              <div class="d-flex align-items-center justify-content-between flex-column flex-sm-row">
                <ul class="price list-inline no-margin">
                  <li class="list-inline-item current">$65.00</li>
                  <li class="list-inline-item original">$90.00</li>
                </ul>
                <div class="review d-flex align-items-center">
                  <ul class="rate list-inline">
                    <li class="list-inline-item"><i class="fa fa-star-o text-primary"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star-o text-primary"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star-o text-primary"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star-o text-primary"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star-o text-primary"></i></li>
                  </ul><span class="text-muted">No reviews</span>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
              <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
                <div class="quantity d-flex align-items-center">
                  <div class="dec-btn">-</div>
                  <input type="text" value="1" class="quantity-no">
                  <div class="inc-btn">+</div>
                </div>
                <select id="product-size" class="bs-select form-control" name="pieceNum" [(ngModel)]="pieceNum">
                  <option value="" disabled selected>- Select One -</option>
                  <option *ngFor="let cut of productDetailes?.cuttings" [ngValue]="cut.cutting">
                      {{cut.cutting.nameEN}}
                  </option>
              </select>
              </div>
              <header class="d-flex justify-content-between align-items-start">
                <select id="sorting" class="bs-select form-control col-md-3" name="pieceNum" [(ngModel)]="pieceNum">
                  <option value="" disabled selected>- Select One -</option>
                  <option *ngFor="let cut of productDetailes.quantities" [ngValue]="cut.quantity">
                      {{cut.quantity.nameEN}}
                  </option>
              </select>
                <select id="sorting" class="bs-select form-control col-md-3">
                    <option value="lowest-price">Low Price</option>
                    <option value="heigh-price">High Price</option>
                </select>
                
            </header>
              <ul class="CTAs list-inline">
                <li class="list-inline-item"><a routerLink="cart" class="btn btn-template wide"> <i class="fa fa-cart-plus"></i>Add to Cart</a></li>
                <li class="list-inline-item"><a href="" class="btn btn-template-outlined wide"> <i class="fa fa-heart-o"></i>Add to wishlist</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="product-description no-padding">
        <div class="container">
          <ul role="tablist" class="nav nav-tabs">
            <li class="nav-item"><a data-toggle="tab" href="#description" role="tab" class="nav-link active">Description</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#additional-information" role="tab" class="nav-link">Additional Information</a></li>
          </ul>
          <div class="tab-content">
            <div id="description" role="tabpanel" class="tab-pane active">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. LOLUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. LOLDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. LOLUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. LOLDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div id="additional-information" role="tabpanel" class="tab-pane">
              <ul class="list-unstyled additional-information">
                <li class="d-flex justify-content-between"><strong>Material:</strong><span>Cotton</span></li>
                <li class="d-flex justify-content-between"><strong>Styles:</strong><span>Casual</span></li>
                <li class="d-flex justify-content-between"><strong>Properties:</strong><span>Short Sleeve</span></li>
                <li class="d-flex justify-content-between"><strong>Brand:</strong><span>Calvin Klein</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="share-product gray-bg d-flex align-items-center justify-content-center flex-column flex-md-row"><strong class="text-uppercase">Share this on</strong>
            <ul class="list-inline text-center">
              <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo"></i></a></li>
            </ul>
          </div>
        </div>
      </section>
      <section class="related-products">
        <div class="container">
          <header class="text-center">
            <h2><small>Similar Items</small>You may also like</h2>
          </header>
          <div class="row">
            <!-- item-->
            <div class="item col-lg-3">
              <div class="product is-gray">
                <div class="image d-flex align-items-center justify-content-center"><img src="assets/img/products/p1.png" alt="..." class="img-fluid">
                  <div class="hover-overlay d-flex align-items-center justify-content-center">
                    <div class="CTA d-flex align-items-center justify-content-center"><a routerLink="/cart" class="add-to-cart"><i class="fa fa-shopping-cart"></i></a><a routerLink="/categories/detail" class="visit-product active"><i class="fa fa-search"></i>View</a><a href="#" data-toggle="modal" data-target="#exampleModal" class="quick-view"><i class="fa fa-arrows-alt"></i></a></div>
                  </div>
                </div>
                <div class="title"><a href="">
                    <h3 class="h6 text-uppercase no-margin-bottom">Veal Stock</h3></a><span class="price">$40.00</span></div>
              </div>
            </div>
            <!-- item-->
            <div class="item col-lg-3">
              <div class="product is-gray">
                <div class="image d-flex align-items-center justify-content-center"><img src="assets/img/products/p10.png" alt="..." class="img-fluid">
                  <div class="hover-overlay d-flex align-items-center justify-content-center">
                    <div class="CTA d-flex align-items-center justify-content-center"><a routerLink="/cart" class="add-to-cart"><i class="fa fa-shopping-cart"></i></a><a routerLink="/categories/detail" class="visit-product active"><i class="fa fa-search"></i>View</a><a href="#" data-toggle="modal" data-target="#exampleModal" class="quick-view"><i class="fa fa-arrows-alt"></i></a></div>
                  </div>
                </div>
                <div class="title"><a href="#">
                    <h3 class="h6 text-uppercase no-margin-bottom">Veal Stock</h3></a><span class="price">$40.00</span></div>
              </div>
            </div>
            <!-- item-->
            <div class="item col-lg-3">
              <div class="product is-gray">
                <div class="image d-flex align-items-center justify-content-center"><img src="assets/img/products/p11.png" alt="..." class="img-fluid">
                  <div class="hover-overlay d-flex align-items-center justify-content-center">
                    <div class="CTA d-flex align-items-center justify-content-center"><a routerLink="/cart" class="add-to-cart"><i class="fa fa-shopping-cart"></i></a><a routerLink="/categories/detail" class="visit-product active"><i class="fa fa-search"></i>View</a><a href="#" data-toggle="modal" data-target="#exampleModal" class="quick-view"><i class="fa fa-arrows-alt"></i></a></div>
                  </div>
                </div>
                <div class="title"><a href="#">
                    <h3 class="h6 text-uppercase no-margin-bottom">Veal Stock</h3></a><span class="price">$40.00</span></div>
              </div>
            </div>
            <!-- item-->
            <div class="item col-lg-3">
              <div class="product is-gray">
                <div class="image d-flex align-items-center justify-content-center"><img src="assets/img/products/p12.png" alt="..." class="img-fluid">
                  <div class="hover-overlay d-flex align-items-center justify-content-center">
                    <div class="CTA d-flex align-items-center justify-content-center"><a routerLink="/cart" class="add-to-cart"><i class="fa fa-shopping-cart"></i></a><a routerLink="/categories/detail" class="visit-product active"><i class="fa fa-search"></i>View</a><a href="#" data-toggle="modal" data-target="#exampleModal" class="quick-view"><i class="fa fa-arrows-alt"></i></a></div>
                  </div>
                </div>
                <div class="title"><a href="#">
                    <h3 class="h6 text-uppercase no-margin-bottom">Veal Stock</h3></a><span class="price">$40.00</span></div>
              </div>
            </div>
          </div>
        </div>
      </section>