<section class="hero hero-page gray-bg padding-small">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-9 order-2 order-lg-1">
                <h3>{{'marketingLocalSales'|translate}}</h3>
            </div>
            <div class="col-lg-3 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end">
                    <li class="breadcrumb-item">
                        <a routerLink="home">{{'home'|translate}}</a>
                    </li>
                    <li class="breadcrumb-item active">{{'marketingLocalSales'|translate}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="padding-small">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10">
                <header>
                    <p class="lead">
                        {{'mrktTiltle'|translate}}
                    </p>
                </header>
                <div class="text-content">
                    <p>
                        <img src="assets/img/marketing.jpg" alt="Example blog post alt" class="img-fluid">
                    </p>

                    <p>
                            {{'markDetails'|translate}} 
                    </p>
                    
                </div>
            </div>
        </div>

    </div>
</section>